<!DOCTYPE html>
<html>

<th:block th:fragment="FooterFragment" style="width: 100%;">		
	<!-- 
	p-3 : padding을 3크기로
	mb-3 : margin-bottom을 3크기로
	border-bottom : 하단에 테두리
	 -->
	<div class="footer "> 
		<div class="container w-auto" >
		  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5">
		    <div class="col mb-3 mx-5" style="width: 300px;">
		      <a href="/" class="d-flex align-items-center mb-1 link-body-emphasis text-decoration-none">
		     		<p class="fs-5 fw-bold px-5">Walk Around You</p>
		      </a>
		      <p class="mb-1 px-5" style="font-size: 13px;">서울특별시 서대문구</p>
		      <p class="text-body-secondary px-5" style="font-size: 13px;">&copy; 2023</p>
		    </div>
		
		    <div class="col mb-3 mx-3" style="width: 200px;">
		    </div>
			
			<!-- 산책로 목록 --> 
		    <div class="col mb-3 mx-4" style="width: 170px;">
		      <h6 class="mt-2">산책로</h6>
		      <ul class="nav flex-column">
		        <li class="nav-item mt-2">
					<a href="/course" class="nav-link p-0 text-body-secondary" style="font-size: 13px;">전체 검색</a></li>
		        <li class="nav-item mt-1">
		      </ul>
		    </div>
		
			<!-- 커뮤니티 -->
		    <div class="col mb-3 mx-3 px-4" style="width: 170px;">
		      <h6 class="mt-2">커뮤니티</h6>
		      <ul class="nav flex-column">
		        <li class="nav-item mt-2">
					<a href="/board?type=COMMUNITY" class="nav-link p-0 text-body-secondary" style="font-size: 13px;">모임</a></li>
		        <li class="nav-item mt-1">
					<a href="/board?type=FREE" class="nav-link p-0 text-body-secondary" style="font-size: 13px;">자유</a></li>
		        <li class="nav-item mt-1">
					<a href="/board?type=REVIEW" class="nav-link p-0 text-body-secondary" style="font-size: 13px;">후기</a></li>
		      </ul>
		    </div>
		
			<!-- 마이페이지 --> 
		    <div class="col mb-3 mx-3" style="width: 170px;">
		      <h6 class="mt-2">마이페이지</h6>
		      <ul th:if="${loginId == null}" class="nav flex-column">
		        <li class="nav-item mt-2">
					<a href="/login" class="nav-link p-0 text-body-secondary" style="font-size: 13px;">로그인</a></li>
		        <li class="nav-item mt-1">
					<a href="/signup" class="nav-link p-0 text-body-secondary" style="font-size: 13px;">회원가입</a></li>
		        <li class="nav-item mt-1">
					<a href="/login/idlookup" class="nav-link p-0 text-body-secondary" style="font-size: 13px;">아이디 찾기</a></li>
		        <li class="nav-item mt-1">
					<a href="/login/pwdlookup" class="nav-link p-0 text-body-secondary" style="font-size: 13px;">비밀번호 찾기</a></li>
		      </ul>		      
		      <ul th:if="${loginId != null}"  class="nav flex-column">
		        <li class="nav-item mt-2">
					<a href="/mypage" class="nav-link p-0 text-body-secondary" style="font-size: 13px;">마이페이지</a></li>
		        <li class="nav-item mt-1">
					<a href="/mypage/userpage" class="nav-link p-0 text-body-secondary" style="font-size: 13px;">정보조회</a></li>
		        <li class="nav-item mt-1">
					<a href="/logout" class="nav-link p-0 text-body-secondary" style="font-size: 13px;">로그아웃</a></li>
		        <li th:if="${currentUser != null && currentUserRole == 'ADMIN'}" class="nav-item mt-1">
					<a href="/admin" class="nav-link p-0 text-body-secondary" style="font-size: 13px;">관리자 페이지</a></li>
		      </ul>
		    </div>
		    
		  </footer>
		</div>
	</div>	
</th:block>

</html>