<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 
    p-3 : padding을 3크기로
    mb-3 : margin-bottom을 3크기로
    border-bottom : 하단에 테두리
 -->
<th:block th:fragment="HeaderFragment">
    <!-- 
        py-2 : padding의 y축(top, bottom)을 2크기만큼
        bg-body-tertiary : body의 배경색을 tertiary(회색)으로
        border-bottom : 아래 테두리
     -->
    <!-- 상단 메뉴 -->
    <nav class="topnav sticky-top">
        <!-- 
            d-flex : display:flex 활성화
            flex-wrap : 줄바꿈 활성화
            nav : navigation
            nav-item : navigation의 항목
            me-auto : margin-end(오른쪽)을 자동으로 하겠다
            nav-link
            link-body-emphasis : 링크의 색상 변경하겠다
            px-2 : x축의 padding 크기를 2로
            active : 활성화 상태로 설정
         -->
        <header class="mx-4 d-flex flex-wrap justify-content-center">
            <!-- 로고명 및 로고 이미지 -->
            <div class="first-nav me-auto">
                <a th:href="@{/}" id="nav-link"
                    class="nav-link d-flex align-items-center mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                    <span class="logoName" aria-current="page">WalkAroundYou</span>
                    <span class="logoBlock"></span>
                    <img src="/images/common/logo_img.png" class="logo"></img>
                </a>
            </div>

            <!-- 메뉴 -->
            <div class="second-nav d-flex justify-content-center">
                <!-- 산책로목록 -->
                <div class="nav-item">
                    <a th:href="@{/course}" id="nav-link" class="nav-link px-3">산책로목록</a>
                </div>

                <!-- 커뮤니티 -->
                <div class="nav-item">
                    <a th:href="@{/board}" id="nav-link" class="nav-link px-3">커뮤니티</a>
                </div>

            </div>


            <!-- 관리자용 버튼, 회원가입, 로그인, 로그아웃 버튼, 돋보기 -->
            <div class="third-nav d-flex justify-content-center">
                <div th:if="${currentUser != null && currentUserRole == 'ADMIN'}">
                    <!-- 관리자만 보이는 버튼 (클릭 시, 관리자 페이지로 이동)-->
                    <button class="nav-link px-3 header-admin-button" onclick="location.href='/admin'">관리자</button>
                </div>
                <div th:if="${loginId == null}" class=" d-flex justify-content-center">
                    <!-- 로그인 안 된 상태에서 nav에 로그인, 회원가입 버튼 보이기 -->
                    <button class="nav-link px-3 header-login-button" onclick="location.href='/login'">로그인</button>
                    <button class="nav-link px-3 header-signup-button" onclick="location.href='/signup'">회원가입</button>
                </div>

                <!-- 로그인된 상태에서 보이기 -->
                <div th:if="${loginId != null}" class=" d-flex justify-content-center">
                    <!-- 로그인 된 정보, 로그아웃 버튼 nav에 띄우기 -->
                    <div class="nav-item login-image" style="overflow: hidden;">
                        <img class="rounded-circle m-1 " th:src="${currentUserImagePath!=null}? 
                                        ${currentUserImagePath}: '/images/defaultUserImage.png'"
                            style="width: 40px; height: 40px; border:none; padding: 0;"></img>
                    </div>
                    <div class="nav-item login-letter">
                        <a th:href="@{/mypage}" class="nav-link px-3 pt-1">
                        	<span th:text="${loginId}" style="font-size: 1.1rem;"></span> 님
                        	</a>
                    </div>
                    <div class="nav-item login-letter">
                        <a th:href="@{/logout}" class="nav-link px-3 pt-1">Logout</a>
                    </div>
                </div>
                <div>
                    <button class="btn col-lg-auto mb-lg-0 headerSearchBtn" role="button" id="headerSearchBtn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </header>
        <div class="searchBox" id="searchBox">
	        <form role="search pt-2" th:action="@{/search}" method="get" >
	            <input type="search" class="form-control search-header" 
	            name="keyword" id="headerSearchKeyword"
	            placeholder="Search..." aria-label="Search">
	        </form>
        </div>
    </nav>
    <!-- 돋보기 클릭 시, 자바스크립트로 출력되는 영역 -->

</th:block>

</html>