<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}">
<head>
<meta charset="UTF-8">
    <title>[[${{keyword}}]] 에 대한 전체 검색결과</title>
    <script type="text/javascript" src="/js/common/mainSearch.js"></script>
    <link rel="stylesheet" href="/css/common/mainSearch.css">

</head>
<body>
    <th:block layout:fragment="Content">
    
    <div class="container SearchList container-searchList mt-5">
        <!-- 검색어 입력 폼 -->
        <form class = "mb-5 d-flex justify-content-center"> 
            <div class="searchForm input-group mb-3">
				<input type="text" class="form-control fs-5 searchInput"
				name="keyword" id="mainSearchKeyword"
				placeholder="검색어를 입력하세요" aria-label="검색어를 입력하세요" 
				aria-describedby="button-addon2"
				th:value="${keyword}">	
				<button class="searchBtn btn btn-success fs-5" type="submit" id="button-addon2">
    				<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</div>
        </form> <!-- 검색어 입력 폼 끝 -->   
             
        <!-- 검색한 단어가 포함된 해시태그 -->
        <p class ="searchCount fs-3">검색어가 포함된 해시태그 <span th:text="${tagResults.size}"></span>건</p>
        <div id="tagResults" class= "d-flex justify-content-center flex-wrap border rounded-4 shadow-sm"> 
            <p th:if="${#lists.isEmpty(tagResults)}"
               class= "noResult mx-5 my-5 text-center fs-5">검색어와 일치하는 해시태그가 없습니다.</p>
            <div th:each="tagResult : ${tagResults}">
                <a class="tagContent badge ms-5 my-4 border rounded-pill"
                  style = "text-decoration-line: none;"
                  th:text="|#${tagResult.tagContent}|"
                  th:href="@{/tag/search/{tagContent}(tagContent = ${tagResult.tagContent})}">
                </a> 
            </div>
        </div><!-- 해시태그 끝 -->

        <!-- 검색한 단어가 포함된 산책로 -->
        <!-- 검색된 키워드 출력 -->
        <p class ="searchCount fs-3 mt-5">검색어가 포함된 산책로 <span th:text="${totalCourseResults}"></span>건</p>
        <div id="courseResults" class = "border rounded-4 shadow-sm">
            <p th:if="${#lists.isEmpty(courseResults)}" class= "noResult mx-5 mt-5 text-center fs-5">검색어와 일치하는 산책로가 없습니다.</p>
            <div th:each="courseResult, stat : ${courseResults}"
                 th:data-url="@{/course/{id}(id=${courseResult.courseId})}"
                 onclick="redirectToDetail(this)"
                 style="cursor:pointer;"
                 class="card m-5">
              <div class="row g-0">
                <!-- 사진 -->
                <div class="col-lg-2">
	                <img class="card-img-top course-list_imgBox img-fluid" 
		                th:src="${imagePaths[stat.index]}"
		                alt="산책로 사진" />
                </div>
                <!-- 글 부분-->
                <div class="col-lg-10">
                  <div class="card-body d-flex">
                    <!-- 왼쪽 부분 -->
                    <div class="left col-9">
                    <!-- 이름 -->
                    <div class= "title d-flex my-2">
                        <h5 class="card-title fw-bold" 
                            th:text="|${courseResult.wlkCoursFlagNm}|"></h5>
                        <p class= "mx-1">|</p>    
                        <p class="card-title fw-bolder" 
                            th:text="${courseResult.wlkCoursNm}"></p>
                    </div>
                        <!-- 상세설명 -->
                        <p class="card-text"
                            th:text="${#strings.length(courseResult.AditDc) &gt; 70 ? 
                            #strings.substring(courseResult.AditDc, 0, 70) + '...' : courseResult.AditDc}">
                        상세설명</p>
                        <!-- 좋아요, 언급, 댓글 -->
                        <div class= "d-flex text-body-tertiary">
                            <p class="mx-1" style="width: 20px; height: 20px;">
                                <img src = "/images/common/heart-click.png" class="img-fluid"/>
                            </p>
                            <p class="card-text"
                                th:text="|좋아요${courseResult.LikeCnt}개|">좋아요 수</p>
                            <p class="card-text mx-2"
                                th:text="|댓글 ${courseResult.CommentCnt}개|">댓글 수</p>
                            <p class="card-text"
                                th:text="|게시물 언급 ${courseResult.MentionCnt}개|">언급 수</p>                                 
                        </div>
                    </div>
                    <!-- 오른쪽 부분 -->
                    <div class= "right col-3 ps-4">
                        <p class="card-text fw-semibold"
                            th:text="${courseResult.SignguCn}">시군구
                        </p>
                        <div class= "d-flex">                 
                            <p class="card-text"
                                th:text="|${courseResult.CoursDetailLtCn}km|">거리
                            </p>
                            <p class= "mx-1">|</p>
                            <p class="card-text"
                                th:text="|${#dates.format(courseResult.CoursTimeCn, 'HH:mm')} 소요|">소요시간
                            </p>
                        </div>
                    </div> 
                
                  </div>
                </div><!-- 글 부분 끝 -->
                
              </div>
            </div><!-- 반복문 끝 -->

            <!-- 더보기 버튼 --> 
            <div class ="d-flex justify-content-center mt-5 mb-5" >    
	            <a class="btn btn-success w-25 btm-sm fs-5 "
	               style = "text-decoration-line: none; cursor:pointer;" 
	               th:href="@{/course/search(searchKeyword=${keyword})}">
	            산책로 더보기 <i class="fa-solid fa-arrow-right"></i> 
	            </a>
            </div>
        </div><!-- 산책로 끝 -->


        <!-- 검색한 단어가 포함된 게시물 -->
        <p class ="searchCount fs-3 mt-5">검색어가 포함된 게시물 <span th:text="${totalBoardResults}"></span>건</p>
        <div id="boardResults" class="border rounded-4 shadow-sm mb-5 mt-4">
        <!-- 게시물 반복 --> 
        <p th:if="${#lists.isEmpty(boardResults)}" class= "noResult mx-5 mt-5 text-center fs-5">검색어와 일치하는 게시물이 없습니다.</p>
        <div th:each="boardResult, stat : ${boardResults}"
                th:data-url="@{/board/{id}(id=${boardResult.boardId})}"
                onclick="redirectToDetail(this)"
                style="cursor:pointer;"
                class="card m-5 p-3">
          <div class="card-body d-flex">
            <div class = "col-9 left">
                <div class = "d-flex"><!-- 왼쪽 상단 작성자 정보 -->
                    <p style="width: 50px; height: 50px;">
                        <img th:src = "${writerMemberImagePaths!=null}?
                           ${writerMemberImagePaths[stat.index]} : '/images/defaultUserImage.png'"
                           class="img-fluid"
                           style="border-radius: 50%; width: 100%; height: 100%;"/>
                    </p>
                    <div class = "mb-0 mx-2">                
                        <p th:text="${boardResult.userNickname}" 
                            class="mb-0 card-text">작성자</p>
                        <p th:text="${#dates.format(boardResult.boardCreatedDate, 'yyyy-MM-dd')}" 
                            class="mb-0 card-text text-body-tertiary">생성일자</p>
                    </div>
                </div>
                <!-- 제목, 내용 -->
                <h5 th:text="${boardResult.boardTitle}" class="card-title">제목</h5>
                <p th:text="${#strings.length(boardResult.boardContent) &gt; 200 ? 
                            #strings.substring(boardResult.boardContent, 0, 200) + '...' : boardResult.boardContent}">
                <!-- 좋아요, 타입 -->
                <div class = "d-flex text-body-tertiary">
                    <p th:text="|공감 ${boardResult.likeCnt}|" class="card-text">공감</p>
                    <p th:text="|댓글 ${boardResult.commentCnt}|" class="mx-3 card-text">댓글</p>
                </div>
            </div>
            <div class="right col-3 text-end text-success"> 
                <p th:text="|${boardResult.boardType}(카테고리)|"
                  class="card-text">게시판 타입</p>
            </div>
          </div><!-- 카드 하나 끝 -->
        </div><!-- 반복문 끝 -->   
        <!-- 더보기 -->
        <div class ="d-flex justify-content-center mt-5 mb-5">    
                <a class="btn btn-success w-25 btm-sm fs-5"
                style = "text-decoration-line: none; cursor:pointer;" 
                th:href="@{/board/search(keyword=${keyword})}">게시물 더보기 
                <i class="fa-solid fa-arrow-right"></i>
                </a>       
        </div>
                
        </div><!-- 커뮤니티 끝 -->
        
    </div><!-- 컨테이너 끝 -->

    </th:block>
</body>
</html>