<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">
<head>
<meta charset="UTF-8">
<title>특정 해시태그가 포함된 게시물 리스트</title>
<script src="/js/board/searchTagBoardList.js"></script>
<link rel="stylesheet" href="/css/board/searchTagBoardList.css">
</head>
<body>
	<th:block layout:fragment="Content">
		<div class="container container-tagBoardList">
			<!-- 검색하여 나오는 게시물 목록 페이지 -->
			<div class="d-flex justify-content-center m-5 title">
				<!-- 검색된 tagContent 추출하여 자바스크립트에서 사용 -->
				<h1 id="tagContent" th:text="${tagContent}"></h1>
				<h1 class="ms-2">이(가) 포함된 게시물입니다.</h1>
			</div>


			<!-- 정렬 방식 선택  -->
			<div class="d-flex justify-content-between">
				<p class="my-2 boardCount px-3">
					게시물 수 : <span th:text="${tagBoardList.totalElements}"></span>
				</p>
				<select class="boardList-sort sort h-25 p-1" id="boardTagSort"
					name="sort" onchange="boardWithSearchResults()">
					<option value="default">최신순</option>
					<option value="boardViewCount">조회 순</option>
					<option value="likeCnt">좋아요 순</option>
				</select>
			</div>

			<div id="needToChange">
				<!-- 테이블로 게시물 목록 출력 -->
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-lg-2">글 번호</th>
							<th class="col-lg-8">게시물</th>
							<th class="col-lg-2">댓글 수</th>
						</tr>
					</thead>
					<tbody>
						<!-- 자바스트립트 redirectToDetail 메서드 사용 : 컬럼을 누르면 게시글 상세페이지로 이동하는 url 작성-->
						<tr th:each="tagBoard, stat : ${tagBoardList}"
							th:data-url="@{/board/{id}(id=${tagBoard.boardId})}"
							onclick="redirectToDetail(this)" style="cursor: pointer;">
							<td><span th:text="${tagBoard.boardId}">글 번호</span></td>
							<td>
								<!-- 제목의 글자수 길면 ...으로 생략 -->
								<div class="first fs-5"
									th:text="${#strings.length(tagBoard.boardTitle) &gt; 50 ? 
                #strings.substring(tagBoard.boardTitle, 0, 50) + '...' : tagBoard.boardTitle}">글
									제목</div>
								<div class="second d-flex">
									<div class="mt-1 rounded-circle mx-1 overflow-hidden"
										style="width: 35px; height: 35px;">
										<img th:src="${tagBoardImagePaths!=null}?
                                     	${tagBoardImagePaths[stat.index]} : '/images/defaultUserImage.png'"
											style="width: 35px; height: 35px;" class="" />
									</div>
									<div class="mt-3 mx-2" th:text="${tagBoard.userNickname}">작성자
										닉네임</div>
								</div>

								<div class="third d-flex text-secondary">
									<div class="m-1"
										th:text="|date ${#dates.format(tagBoard.boardCreatedDate, 'yyyy-MM-dd')}|">작성일자</div>
									<div class="m-1" th:text="|in ${tagBoard.boardType}|">카테고리</div>
									<p class="m-1" style="width: 20px; height: 20px;">
										<i class="fa-regular fa-eye"></i>
									</p>
									<div class="m-1" th:text="${tagBoard.boardViewCount}">조회수</div>
									<p class="m-1" style="width: 20px; height: 20px;">
										<img src="/images/common/heart-click.png" class="img-fluid" />
									</p>
									<div class="m-1" th:text="${tagBoard.likeCnt}">좋아요 수</div>
								</div>

							</td>
							<td><span th:text="${tagBoard.commentCnt}" class="mx-4">댓글
									수</span></td>
						</tr>
					</tbody>
				</table>

				<!-- 페이지 넘기기 뷰 & 기능 -->
				<div class="pageInfo_wrap" id="pagination">
					<!--pagination-sm 추가하면 작아지고, pagination-lg 추가하면 커진다 -->
					<ul
						class="pagination pagination-sm 
                   justify-content-center">
						<li class="page-item" id="pagePrev"
							th:classappend="${currentPage == 0} ? 'disabled' : ''">
							<!-- 링크 클릭할 때 해당 링크의 url로 이동하는 기본 동작 막기 위해 사용
                    자바스크립트가 없는 상황에서는 아무 것도 일어나지 않게끔 한다. --> <a
							class="page-link arrow" href="javascript:void(0);"
							th:onclick="'loadPage(' + (${currentPage - 1}) + ')'"> <i
								class="fa-solid fa-chevron-left"></i></a>
						</li>
						<th:block
							th:each="page : ${#numbers.sequence(pageStart, pageEnd)}">
							<li th:if="${page == (currentPage+1)}" class="page-item active">
								<a class="page-link" href="javascript:void(0);"
								th:onclick="'loadPage(' + (${page - 1}) + ')'">[[${page}]]</a>
							</li>
							<li th:unless="${page == (currentPage+1)}" class="page-item">
								<a class="page-link" href="javascript:void(0);"
								th:onclick="'loadPage(' + (${page - 1}) + ')'">[[${page}]]</a>
							</li>
						</th:block>
						<li class="page-item" id="pageNext"
							th:classappend="${currentPage == lastPage - 1} ? 'disabled' : ''">
							<a class="page-link arrow" href="javascript:void(0);"
							th:onclick="'loadPage(' + (${currentPage + 1}) + ')'"> <i
								class="fa-solid fa-chevron-right"></i></a>
						</li>
					</ul>
				</div>
			</div>

		</div>

	</th:block>
</body>
</html>