/* 폰트 */
@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.signupform{
	margin-bottom : 100px;
}

.signup{
	margin-top : 38px;
}
h1{
	 font-family: 'KimjungchulGothic-Bold';
}


form, p{
	font-family: 'NanumSquareRound';
}

p{
	font-size: 18px;
}
.signupbtn {
	font-family: 'KimjungchulGothic-Bold' !important;
	background-color: #3D8361 !important ;
	color: white !important;
	height: 60px;
	margin: auto;
	margin-top: 60px;
}

.signupbtn:hover,
.signupbtn:active,
.signupbtn:focus {
    background-color: #1C6758 !important;	/* !important : 다른 모든 스타일 규칙보다 우선시하도록. */
    color: white !important;
}