<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}">
<head>
<meta charset="UTF-8">
    <title>[[${keyword}]] 에 대한 게시글 검색결과</title>
    <script type="text/javascript" src="/js/board/boardConditionList.js"></script>
    <link rel="stylesheet" href="/css/board/boardConditionList.css">
</head>

<body>
<th:block layout:fragment="Content">
<!-- 커뮤니티 검색 결과 화면 -->
    <div class="container container-boardConditionList">
    <!-- 검색하여 나오는 게시물 목록 페이지 -->
    <!-- 검색된 단어 추출하여 자바스크립트에서 사용 -->
    <h1 class="title text-center mb-5">검색어가 포함된 게시물입니다.</h1>
   
        <!-- 검색어 입력 폼 -->
        <form> 
        <div class ="input-group d-flex p-2 my-4 justify-content-center">
            <div class ="">
                <select name = "boardType" id ="boardType" class = "fs-5 form-select">
                    <option value="ALL" th:selected="${selectedBoardType == 'ALL'}">전체</option>
                    <option value = "FREE" th:selected="${selectedBoardType == 'FREE'}">자유 게시판</option>
                    <option value = "COMMUNITY" th:selected="${selectedBoardType == 'COMMUNITY'}">모임 게시판</option>
                    <option value = "REVIEW" th:selected="${selectedBoardType == 'REVIEW'}">후기 게시판</option>
                </select>
            </div>
            <div class ="mx-2">
                <select name ="searchType" id ="searchType" class = "fs-5 form-select">
                    <option value="boardTitleAndContent" th:selected="${selectedSearchType == 'boardTitleAndContent'}">제목 + 내용</option>
                    <option value = "boardTitle" th:selected="${selectedSearchType == 'boardTitle'}">제목만</option>
                    <option value = "boardContent" th:selected="${selectedSearchType == 'boardContent'}">내용만</option>
                    <option value = "userNickname" th:selected="${selectedSearchType == 'userNickname'}">작성자</option>
                </select>        
            </div>
            <div class="searchForm input-group mb-3">
                <input type="text" class="form-control fs-5 searchInput"
                name="keyword" id="boardSearchKeyword"
                placeholder="검색어를 입력하세요" aria-label="검색어를 입력하세요" 
                aria-describedby="button-addon2"
                th:value="${keyword}">  
                <button class="boardSearchBtn btn btn-success fs-5" type="submit" id="button-addon2">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>      
        </div>
        </form> <!-- 검색어 입력 폼 끝 -->
        
        <!-- 정렬 방식 선택  --> 
        <div class = "d-flex justify-content-between my-2">
	        <p class = "boardCount px-3 me-auto">게시물 수 : <span th:text="${boardList.totalElements}"></span></p>
	        <select class="boardList-sort sort h-25 fs-6 p-1" 
	                id="boardSort" name="sort" 
	                onchange="boardWithSearchResults()">
	            <option value="default">최신순</option>
	            <option value="boardViewCount">조회 순</option>
	            <option value="likeCnt">좋아요 순</option>
	        </select>
        </div>
      
        <div id="needToChange">
        <!-- 테이블로 게시물 목록 출력 -->
        <table class="table table-hover">
          <thead>
            <tr>
                <th class ="col-lg-2">글 번호</th>
                <th class ="col-lg-8">게시물</th>
                <th class ="col-lg-2">댓글 수</th>
            </tr>
          </thead>
          <tbody>
            <!-- 자바스트립트 redirectToDetail 메서드 사용 : 컬럼을 누르면 게시글 상세페이지로 이동하는 url 작성-->
            <tr th:each="board, stat : ${boardList}"
               th:data-url="@{/board/{id}(id=${board.boardId})}" 
               onclick="redirectToDetail(this)"
               style="cursor:pointer;">
              <td>
                <span th:text = "${board.boardId}">글 번호</span>
              </td>
              <td>
                <!-- 제목의 글자수 길면 ...으로 생략 -->
                <div class = "first fs-5"
                    th:text = "${#strings.length(board.boardTitle) &gt; 50 ? 
                    #strings.substring(board.boardTitle, 0, 50) + '...' : board.boardTitle}">글 제목</div>
                <div class = "second d-flex">
                    <p style="width: 40px; height: 40px;">
                  <img class="img-fluid mt-2"
                           style="border-radius: 50%; width: 100%; height: 100%;"
                           th:src="${writerMemberImagePaths!=null}?
                               ${writerMemberImagePaths[stat.index]} : '/images/defaultUserImage.png'" />
                    </p>
                    <div class="mt-3 mx-2" th:text = "${board.userNickname}">작성자 닉네임</div>
                </div>
                
                <div class  ="third d-flex text-secondary">
                    <div class="m-1" th:text = "|date ${#dates.format(board.boardCreatedDate, 'yyyy-MM-dd')}|">작성일자</div>
                    <div class="m-1" th:text = "|in ${board.boardType}|">카테고리</div>
                    <p class="m-1" style="width: 20px; height: 20px;">
                        <img src = "/images/common/view.png" class="img-fluid"/>
                    </p>
                    <div class="m-1" th:text = "${board.boardViewCount}">조회수</div>
                    <p class="m-1" style="width: 20px; height: 20px;">
                        <img src = "/images/common/heart-click.png" class="img-fluid"/>
                    </p>
                    <div class="m-1" th:text = "${board.likeCnt}">좋아요 수</div>
                </div>
    
              </td>
              <td>
                <span th:text = "${board.commentCnt}" class = "mx-4">댓글 수</span>
              </td>  
            </tr>
          </tbody>
        </table>
    
        <!-- 페이지 넘기기 뷰 & 기능 -->
        <div class="pageInfo_wrap my-5" id="pagination">
            <!--pagination-sm 추가하면 작아지고, pagination-lg 추가하면 커진다 -->
            <ul class="pagination pagination 
                       justify-content-center">
               <li class="page-item" id="pagePrev"
                   th:classappend="${currentPage == 1} ? 'disabled' : ''">
                   <!-- 링크 클릭할 때 해당 링크의 url로 이동하는 기본 동작 막기 위해 사용
                        자바스크립트가 없는 상황에서는 아무 것도 일어나지 않게끔 한다. -->
                   <a class="page-link arrow" 
                      href="javascript:void(0);"
                      th:onclick="'loadPage(' + (${currentPage - 2}) + ')'">Previous</a>
               </li>
               <th:block th:each="page : ${#numbers.sequence(pageStart, pageEnd)}">
                   <li th:if="${page == (currentPage)}" 
                       class="page-item active">
                       <a class="page-link" 
                       href="javascript:void(0);"
                       th:onclick="'loadPage(' + (${page - 1}) + ')'">[[${page}]]</a>
                   </li>
                   <li th:unless="${page == (currentPage)}" 
                       class="page-item">
                       <a class="page-link" 
                       href="javascript:void(0);"
                       th:onclick="'loadPage(' + (${page - 1}) + ')'">[[${page}]]</a>
                   </li>
               </th:block>
               <li class="page-item" id="pageNext"
                   th:classappend="${currentPage == lastPage-1} ? 'disabled' : ''">
                   <a class="page-link arrow" 
                   href="javascript:void(0);"
                   th:onclick="'loadPage(' + (${currentPage}) + ')'">Next</a>
               </li>
            </ul>
        </div>
        </div>

</div>        

</th:block>
</body>
</html>