<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}">
<head>
<meta charset="UTF-8">
    <title>산책로 전체 목록 조회</title>
    <link rel="stylesheet" href="/css/course/courseList.css">
    <script src="/js/course/courseList.js"></script>
</head>
<body>
<th:block layout:fragment="Content">
    <!-- 제목 및 조건 선택 박스 -->
    <div class="course-list-top">
        <div class="container row course-list-top_searchBox">
            <div class="col-md-5 course-list-top_title_group">
                <h5 class="course-list-top_subtitle">원하는 조건의 산책로를 찾아보세요.</h5>
                <h1 class="course-list-top_title">산책로</h1>
                <h1 class="course-list-top_title2">전체 목록 조회</h1>
            </div>
        
     
        <!-- 지역 선택 지도 그림 : 다음 버전에 구현하기로. -->
        <!--
            <div class="col-md-6 course-list-top_map">
                 기본 서울 지도 이미지 
                <img usemap="#seoul-map" src="/images/---.png"
                     alt="서울지도" class="seoul-map" />
                <map name="seoul-map" id="seoul-map" 
                     style="cursor:pointer;">
                     <!-- shape : 직사각형 모양으로 영역 모양 잡음 
                     <!-- coords : 영역의 좌표 
                    <area shape="rect" coords="283, 70, 311, 80" alt="노원구"
                          class="map1" onclick="eventRegion('노원구');"/>    
                </map>
            </div>
         -->
            <!-- 토글 & 검색창 -->
            <div class="col-md-7 course-list-top_conditionBox">
                <!-- 지역 선택 | 난이도 선택 | 소요시간 선택 | 코스거리 선택 -->
                <div class="row mb-3 course-list-top_conditions">
                    <select class="course-list-top_condition region" 
                            id="region" name="region" onchange="handleSelectChange(this)">
                        <option class="" value="">지역 선택</option>
                        <option class="" value="서울 강남구"
                            th:selected="${selectedRegion == '서울 강남구'}">서울 강남구</option>
                        <option class="" value="서울 강동구">서울 강동구</option>
                        <option class="" value="서울 강북구">서울 강북구</option>
                        <option class="" value="서울 강서구">서울 강서구</option>
                        <option class="" value="서울 관악구">서울 관악구</option>
                        <option class="" value="서울 광진구">서울 광진구</option>
                        <option class="" value="서울 구로구">서울 구로구</option>
                        <option class="" value="서울 금천구">서울 금천구</option>
                        <option class="" value="서울 노원구">서울 노원구</option>
                        <option class="" value="서울 도봉구">서울 도봉구</option>
                        <option class="" value="서울 동대문구">서울 동대문구</option>
                        <option class="" value="서울 동작구">서울 동작구</option>
                        <option class="" value="서울 마포구">서울 마포구</option>
                        <option class="" value="서울 서대문구">서울 서대문구</option>
                        <option class="" value="서울 서초구">서울 서초구</option>
                        <option class="" value="서울 성동구">서울 성동구</option>
                        <option class="" value="서울 성북구">서울 성북구</option>
                        <option class="" value="서울 송파구">서울 송파구</option>
                        <option class="" value="서울 양천구">서울 양천구</option>
                        <option class="" value="서울 영등포구">서울 영등포구</option>
                        <option class="" value="서울 용산구">서울 용산구</option>
                        <option class="" value="서울 은평구">서울 은평구</option>
                        <option class="" value="서울 종로구">서울 종로구</option>
                        <option class="" value="서울 중구">서울 중구</option>
                        <option class="" value="서울 중랑구">서울 중랑구</option>
                    </select>
                    <select class="course-list-top_condition level" 
                            id="level" name="level" onchange="handleSelectChange(this)">
                        <option class="" value="">난이도 선택</option>
                        <option class="" value="매우쉬움">매우쉬움</option>
                        <option class="" value="쉬움">쉬움</option>
                        <option class="" value="보통">보통</option>
                        <option class="" value="어려움">어려움</option>
                        <option class="" value="매우어려움">매우어려움</option>
                    </select>
                    <select class="course-list-top_condition time" 
                            id="time" name="time" onchange="handleSelectChange(this)"> 
                        <option class="" value="">소요시간 선택</option>
                        <option class="" value="1">1시간 이내</option>
                        <option class="" value="2">1~2시간 이내</option>
                        <option class="" value="3">2~3시간 이내</option>
                        <option class="" value="4">3~4시간 이내</option>
                        <option class="" value="5">4시간 이상</option>
                    </select>
                    <select class="course-list-top_condition distance" 
                            id="distance" name="distance" onchange="handleSelectChange(this)">
                        <option class="" value="">코스 거리 선택</option>
                        <option class="" value="1Km미만">1Km 미만</option>
                        <option class="" value="1~5Km미만">1~5Km 미만</option>
                        <option class="" value="5~10Km미만">5~10Km 미만</option>
                        <option class="" value="10~15Km미만">10~15Km 미만</option>
                        <option class="" value="15~20Km미만">15~20Km 미만</option>
                        <option class="" value="20~100Km미만">20~100Km 미만</option>
                    </select>
                </div>
                <!-- 산책로 조회 검색어 입력박스 -->
                <div class="row justify-content-evenly keyword-search">
                    <select class="col-4 course-list-top_searchTarget keyword" 
                            id="searchTargetAttr" name="searchTargetAttr">
                        <option value="total">전체</option>
                        <option value="title">산책로명</option>
                        <option value="coursDc">주요경로</option>
                        <option value="aditDc">산책로 설명</option>
                    </select>
                    <input type="text" class="col-8 searchKeyword keyword" 
                           id="searchKeyword" name="searchKeyword" onchange="handleSelectChange(this)"
                           th:placeholder="${searchKeyword != null ? 
                                searchKeyword : '원하는 키워드를 입력하세요.'}">
                </div>
                <div class ="row justify-content-evenly btngroup">
                    <button type="button" class="searchbtn" 
                            id="courseSearchBtn"
                            onclick="loadPage(0), scrollToPosition()">
                            검색 <i class="fa-solid fa-magnifying-glass"></i></button>
                    <button type="button" class="searchbtn resetbtn" 
                            id="courseResetBtn"
                            onclick="loadReset()">
                            초기화 <i class="fa-solid fa-rotate"></i></button>
                </div> 
            </div>
        </div>
    </div>
    <div class="container sortBox">
        <!-- 정렬 방식 선택 : onchange 속성으로 값이 변경될 때마다 Ajax 요청 실행 -->
        <select class="course-list-sort sort border" 
        		id="sort" name="sort" 
                onchange="updateViewWithSearchResults()">
            <option value="default">산책로명 가나다순</option>
            <option value="coursViewCount">조회수 순</option>
            <option value="coursDetailLtCnASC">거리 짧은 순</option>
            <option value="coursDetailLtCnDESC">거리 먼 순</option>
        </select>
    </div>
    <div id="searchResults">
    <!-- 산책로 목록 카드 ; 검색 결과를 표시할 영역-->
	    <input type="hidden" id="imagePaths" th:value="${imagePaths}" />
	    <div class="container course-lists" >
	        <div class="row">
	            <!-- 검색 결과 없을 때 처리 -->
	            <p class = "my-2 courseCount">산책로 수 : <span th:text="${courses.totalElements}"></span></p>
	            <p th:if="${courses.totalElements == 0}" 
		        class= "noResult mx-5 mt-5 text-center fs-1">검색 결과에 해당하는 산책로가 없습니다.</p>
	    
	            <!-- th:each="item : ${courses}" -->
	            <div class="col-4" 
	                 th:each="item, stat : ${courses}">
	                <!-- 현재 순환 중인 item에 해당하는 이미지 경로를 가져와서 image 변수에 할당 -->
	                <div class="card course-list"
	                     th:onclick="'redirectToCourseDetails(' + ${item.courseId} + ')'">
	                    <!-- src="/images/defaultCourseImg.png" 
	                         stat.index는 순환 중인 아이템의 인덱스를 나타냄. 
	                         image가 없는 course의 경우도 컨트롤러에서 기본값을 부여해줬다.
	                          -->
	                    <img class="card-img-top course-list_imgBox" 
	                         th:src="${imagePaths[stat.index]}"
	                         alt="산책로 사진" />
	                    <div class="card-body course-list_textbox">
	                        <div class="course-list_titlebox">
	                            <div class="row course-list_title">
	                                <!-- 산책로 이름 - 큰이름과 작은이름이 서로 같으면 큰 이름만 출력 되도록 
	                                     하려면 th:if="${item.wlkCoursNm} != ${item.wlkCoursFlagNm}" 붙이기 -->
	                                <h5 class="col-10 card-title course-list_big-title" 
	                                    th:text="${item.wlkCoursFlagNm}">
	                                    산책로 큰이름</h5>
	                                <!-- 산책로 난이도 -->
	                                <p class="col-3 rounded-pill badge text-center 
	                                          d-inline-block course-list_level"
	                                   th:classappend="${item.coursLevelNm == '매우쉬움' ? ' bg-primary' : 
	                                                     item.coursLevelNm == '쉬움' ? ' bg-info' : 
	                                                     item.coursLevelNm == '보통' ? ' bg-success' : 
	                                                     item.coursLevelNm == '어려움' ? ' bg-warning' : 
	                                                     item.coursLevelNm == '매우어려움' ? ' bg-danger' : ''}"
	                                   th:text="${item.coursLevelNm}">난이도</p>
	                            </div>
	                            <div>
	                                <!-- 산책로 큰이름과 작은 이름이 같은 경우 고려할 때
	                                <h5 class="card-text"
	                                    th:if="${item.wlkCoursNm} == ${item.wlkCoursFlagNm}"
	                                    >&nbsp;</h5> -->
	                                <h3 class="card-text course-list_small-title" 
	                                    th:text="${item.wlkCoursNm}">산책로 작은이름</h3>
	                            </div>
	                        </div>
	                        
	                        <!-- 지역 -->
	                        <p class="card-text course-list_region" 
	                           th:text="${item.signguCn}">지역</p>
	                        <!-- "코스거리" | "소요시간"시간 분 소요 -->
	                        <p class="card-text course-list_distance">
	                            <span th:text="${item.coursDetailLtCn}">총코스거리</span>km |  
	                            <span th:text="${#dates.format(item.coursTimeCn, 'H시간 mm분 소요')}">
	                             소요 시간</span>
	                        </p>
	                        <!-- 산책로 설명 : 일정 길이 넘어가면 ... 로 축약되도록 -->
	                        <p class="card-text course-list_aditDc" 
	                           th:text="${item.aditDc != null && #strings.length(item.aditDc) &gt; 70 ? 
	                                    #strings.substring(item.aditDc, 0, 70) + '...' 
	                                    : item.aditDc}">산책로 설명
	                        </p>
	                        <!-- 좋아요 수 / 언급 수 / 댓글 수 / 조회 수 -->
	                        <p class="card-text countBox">
	                           <img class="count-icon left-align"
	                                 src="/images/common/heart-click.png" alt="좋아요" />
	                           <span class="left-align" th:text="${item.likeCnt}+'개'"
	                                style="margin-right: 14px;">좋아요 수</span> 
	                           <i class="fa-regular fa-comment-dots fa-lg count-icon left-align commentIcon"
	                                style="margin-right: 1px;"></i>
	                           <span class="left-align" th:text="${item.commentCnt}+'개'"
	                                style="margin-right: 14px;">댓글 수</span>
	                           <i class="fa-regular fa-pen-to-square fa-lg count-icon left-align"
	                                style="margin-right: 1px;"></i>
	                           <span class="left-align" th:text="${item.mentionCnt}+'개'">언급 수</span>
	                           <span class="right-align-number" th:text="${item.coursViewCount}"
	                                style="margin-left: 2px;">조회수</span>
	                           <i class="fa-regular fa-eye fa-lg count-icon right-align-eye"
	                                style="margin-top: 4px;"></i>
	                        </p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- 페이지네이션 기능 -->
	    <div class="pageInfo_wrap" id="pagination">
	        <!--pagination-sm 추가하면 작아지고, pagination-lg 추가하면 커진다 -->
	        <ul class="pagination pagination 
	                   justify-content-center page-border">
	           <li class="page-item" id="pagePrev"
	               th:classappend="${currentPage == 0} ? 'disabled' : ''">
	               <!-- 링크 클릭할 때 해당 링크의 url로 이동하는 기본 동작 막기 위해 사용
	                    자바스크립트가 없는 상황에서는 아무 것도 일어나지 않게끔 한다. -->
	               <!-- th:onclick="'loadPage(\''+${currentPage - 1}+'\')'" -->
	               <a class="page-link arrow rounded-3" 
	                  href="javascript:void(0);"
	                  th:onclick="'loadPage(' + (${currentPage - 1}) + ')'">
	                  <i class="fa-solid fa-chevron-left"></i></a>
	           </li>
	           <th:block th:each="page : ${#numbers.sequence(pageStart, pageEnd)}">
	               <li th:if="${page == (currentPage+1)}" 
	                   class="page-item active">
	                   <a class="page-link page-number" 
	                   href="javascript:void(0);"
	                   th:onclick="'loadPage(' + (${page - 1}) + ')'">[[${page}]]</a>
	               </li>
	               <li th:unless="${page == (currentPage+1)}" 
	                   class="page-item page-number">
	                   <a class="page-link" 
	                   href="javascript:void(0);"
	                   th:onclick="'loadPage(' + (${page - 1}) + ')'">[[${page}]]</a>
	               </li>
	           </th:block>
	           <li class="page-item" id="pageNext"
	               th:classappend="${currentPage == lastPage - 1} ? 'disabled' : ''">
	               <a class="page-link arrow rounded-3" 
	               href="javascript:void(0);"
	               th:onclick="'loadPage(' + (${currentPage + 1}) + ')'">
	               <i class="fa-solid fa-chevron-right"></i></a>
	           </li>
	        </ul>
	    </div>
    </div>
</th:block>
</body>
</html>