<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}">
<head>
<meta charset="UTF-8">
    <title>산책로 상세 페이지</title>
    <link rel="stylesheet" href="/css/course/course.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f5041361e9b1c4d5fd6a9c27cfadb45e"></script>
    <script src="/js/course/course.js"></script>
    <script src="/js/course/searchCourseBoardList.js"></script>
</head>
<body>
<th:block layout:fragment="Content">
	<!-- 산책로 메인 사진 : upload된 것 있으면 해당 사진이 보이고, 아니면 default로 보임 -->
    <div class="top-imgBox" th:object="${course}">
        <img class="top-imgBox_img" 
            th:src="${imagePath}? 
                    ${imagePath}: '/images/defaultCourseMainImg.jpg'" 
            alt="산책로 메인사진" />      
    </div>
    <div class="container course-infoBox" th:object="${course}">
        <div class="d-flex course-header">
            <div class="col-7 course-title">
                <!-- 산책로 관련 유저 활동을 위한 산책로 id 값 넘기기 -->
                <input type="hidden" id="courseId" th:value="*{courseId}" />
                <input type="hidden" id="isLiked" th:value="${isLiked}" />
                <input type="hidden" id="userId" th:value="${loginId}" />
                <p class="rounded-pill badge text-center course-list_level"
		           th:classappend="*{coursLevelNm == '매우쉬움' ? ' bg-primary' : 
		                             coursLevelNm == '쉬움' ? ' bg-info' : 
		                             coursLevelNm == '보통' ? ' bg-success' : 
		                             coursLevelNm == '어려움' ? ' bg-warning' : 
		                             coursLevelNm == '매우어려움' ? ' bg-danger' : ''}"
		           th:text="*{coursLevelNm}">난이도</p>
                <h3 class="flag-title"
	                th:text="*{wlkCoursFlagNm}">경로구분이름</h3>
	            <h1 class="title"
	                th:text="*{wlkCoursNm}">경로작은이름</h1>
            </div>
            <div class="col-5 justify-content-end rightBox">
                <!-- <div class="course-viewCount">
                    <i class="fa-regular fa-eye fa-xl"></i>
                    <span th:text="*{coursViewCount}">조회수</span> 
                </div> -->
                <div class="d-flex justify-content-end align-items-stretch iconBox">
	                <div class="icon-wrapper viewIcon" onclick="commentFocus()">
                        <img src="/images/common/view.png" alt="코멘트 달기" />
                        <p th:text="'조회수 ' + *{coursViewCount}">조회수</p>
                    </div>
	                <div class="icon-wrapper"
	                    onmouseover="changeLikeImage(this)"
	                    onmouseout="restoreLikeImage(this)"
	                    onclick="toggleLikeImage(this)">                    
	                    <img th:if="${isLiked}" 
	                         th:src="@{/images/common/heart-click.png}"
	                        alt="좋아요" />
	                    <img th:if="${not isLiked}" 
	                         th:src="@{/images/common/heart-nonclick.png}"
	                        alt="좋아요" />
	                    <p id="likeCnt" th:text="'좋아요  ' + *{likeCnt}">좋아요</p>
	                </div>
	                <div class="icon-wrapper"
	                    th:onclick="'goToBoardEditor(' + ${courseId} + ')'">
	                    <img src="/images/board-write.png" alt="게시물 작성하기" />
	                    <p>게시물<br>작성하기</p>
	                </div>
	                <div class="icon-wrapper viewIcon" onclick="commentFocus()">
	                    <img src="/images/comment.png" alt="코멘트 달기" />
	                    <p>댓글<br>달기</p>
	                </div>
	                <div class="icon-wrapper"
	                    onclick="copyToClipboard()">
	                    <img src="/images/share.png" alt="공유" />
	                    <p>공유</p>
	                </div>
	            </div>
            </div>
            

        </div>
        <div class="course-content">
            <div class="table-wrapper">
	            <table class="table">
	                <tr>
	                    <td class="name">위치</td>
	                    <td th:text="*{signguCn} + ' | ' + *{lnmAddr}"></td>
	                </tr>
	                <tr>
	                    <td class="name">주요코스</td>
	                    <td th:text="*{coursDc}"
	                       style="white-space:pre-wrap;"></td>
	                </tr>
	                <tr>
	                    <td class="name">거리</td>
	                    <td th:text="*{coursDetailLtCn} + 'km'"></td>
	                </tr>
	                <tr>
	                    <td class="name">소요시간</td>
	                    <td th:text="${#dates.format(course.coursTimeCn, 'H시간 mm분 소요')}"></td>
	                </tr>
	                <tr>
	                    <td class="name">화장실</td>
	                    <td th:text="*{toiletDc}"
	                       style="white-space:pre-wrap;"></td>
	                </tr>
	                <tr>
	                    <td class="name">편의시설</td>
	                    <td th:text="*{cvntlNm}"
	                       style="white-space:pre-wrap;"></td>
	                </tr>
	                <tr>
	                    <td class="name">상세설명</td>
	                    <td th:text="*{aditDc}"
	                       style="white-space : pre-wrap;"></td>
	                </tr>
	            </table>
	            <!-- 조회수 다른 자리로 옮기고 싶을 때... 
	            <div class="course-viewCount">
                    <i class="fa-regular fa-eye fa-xl"></i>
                    <span th:text="*{coursViewCount}">조회수</span> 
                </div> -->
            </div>
            <div class="course-mapBox rounded-3" id="map">
                 <div class="course-map">
                    <input type="hidden" id="flagName" th:value="${course.wlkCoursFlagNm}">
					<input type="hidden" id="courseName" th:value="${course.wlkCoursNm}">
					<input type="hidden" id="courseLat" th:value="${course.coursSpotLa}">
					<input type="hidden" id="courseLng" th:value="${course.coursSpotLo}">
					<input type="hidden" id="courseAddr" th:value="${course.signguCn}">
					<input type="hidden" id="courseLength" th:value="${course.coursDetailLtCn}">
					<input type="hidden" id="courseTime" th:value="${#dates.format(course.coursTimeCn, 'H시간 mm분 소요')}">
                 </div>
                 <div>
			    <th:block th:each="other : ${courseNames}">
			        <input type="hidden" class="otherCourseName" th:value="${other.wlkCoursNm}">
			        <input type="hidden" class="otherCourseId" th:value="${other.courseId}">
			    </th:block>
                </div>
            </div>
            
        </div>
    </div>
    
    <!-- ★ 댓글 ★ -->    
    <div class="container rounded-5 p-4 p-lg-5 wrapForm" style="margin-top: 100px;">
    <h3 style="margin-left: 40px; margin-top: 30px; font-family: 'KimjungchulGothic-Bold';">
        <i class="fa-solid fa-leaf" style="color: #7fb77e;"></i> &nbsp;댓글 달기</h3>
    <!-- 댓글 리스트 -->
    <div class="commentList mx-5 my-5 mb-2">
        <div class="d-flex justify-content-center flex-wrap mb-4 px-lg-5" 
             th:each="comment, stat : ${comments}" 
                style="text-align: auto">
			<div class="mt-1 rounded-circle mx-1 overflow-hidden "
						style="width: 80px; height: 80px; cursor: pointer;"
						th:data-url="@{/@{userId}(userId=${comment.userId})}" 
						onclick="goMemberPage(this)">
				<img class="" 
						th:src="${commentMemberImagePaths!=null}? 
						${commentMemberImagePaths[stat.index]}: '/images/defaultUserImage.png'"
						style="width: 100%; height: 100%;" ></img>
			</div>
            <div class="col-10 bubble">
        <!-- 코멘트 상단 : user 이미지, 닉네임, 수정일자, 좋아요 버튼, 좋아요 수 -->
                <div class="d-flex justify-content-between mx-2">
                    <!-- user 이미지, 닉네임 -->
                   	<div class="mx-2" th:text="${comment.userNickname}"
						th:data-url="@{/@{userId}(userId=${comment.userId})}" 
						onclick="goMemberPage(this)"
						style="cursor: pointer;"></div>
                	<div class="mx-2" th:text="${#dates.format(comment.commentUpdatedDate, 'yyyy-MM-dd HH:mm')}" ></div>
                </div>
            
            <!-- 코멘트 하단 : 코멘트 내용 및 버튼 -->   
                <!-- 코멘트 내용 --> 
                <div class="rounded-4 bg-white commentBox">
                    <div class="m-1 pt-4 p-2 px-4 commentForm" style="display: none;" >
                        <!-- </div> -->
                        <!-- 수정 버튼 클릭 시, 출력될 코멘트 작성란 -->
                        <!-- <div class="m-3 commentForm" style="width: 93%; display: none;"> -->
                            <input type="hidden" name="commentId" id="commentId" th:value="${comment.commentId}"></input>
                            <input th:if="${comment.userId == loginId}" type="hidden" name="userId" id="userId" th:value="${comment.userId}"></input>
                            <textarea name="commentContent" id="commentContent"
                                th:if="${comment.userId == loginId}"
                                class="form-control" >[[${comment.commentContent}]]</textarea>
                            <div class="d-flex justify-content-end mt-3 pb-2"
                                 th:if="${comment.userId == loginId}">
                                <button type="submit"
                                        class="btn btn-sm px-4 registerbtn text-center">등록</button>
                                <button type="button" id="cancelbtn"
                                    class="btn btn-secondary btn-sm px-4 mx-3 cancelbtn text-center">취소</button>
                            </div>
                    </div>
                    
                    <!-- 수정 후 등록 버튼 클릭 시, 출력될 코멘트 내용-->
                    <div class="m-1 pt-4 commentResult">
                        <div class="mx-4" th:text="${comment.commentContent}" style="white-space:pre-wrap;"></div>
                        <!-- 수정 및 삭제 버튼 -->
                        <div class="d-flex justify-content-end p-3">
	                     	<div class="mx-3 mt-1 commentLike like">
								<img 
									src="/images/common/heart-click.png" style="width: 20px; height: 20px;"/>
								<span class="fs-6" id="commentLikeCnt">[[${comment.commentLikeCnt}]]</span>
							</div>
                            <button type="button" id="modifybtn"
                                    th:if="${comment.userId == loginId}"
                                    class="btn btn-sm px-4 mx-1 modifybtn text-center">수정</button>
                            <button type="button" id="deletebtn"
                                    th:if="${comment.userId == loginId}"
                                    class="btn btn-secondary btn-sm px-4 mx-3 deletebtn text-center">삭제</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- 댓글 입력창 -->
    <div class="border rounded-4 text-bg-light"
        th:style="${currentUserNickname!=null}? 
        'width: 1000px;  margin-left: 120px;
            position: relative; height: 200px;' 
            : 'width: 1000px;  margin-left: 120px;
            position: relative; height: 130px;'">
        <!-- 코멘트 상단 : user 이미지, 닉네임 -->
        <div class="d-flex align-items-center justify-content-between m-4">
            <!-- user 이미지, 닉네임 --> 
            <div class="d-flex align-items-center"
                th:if="${currentUserNickname!=null}">
                  <p class="rounded-circle overflow-hidden" 
                    style="width: 70px; height: 70px;
                        margin-left: 20px;">
                      <img class="border rounded-circle"
                          th:src="${currentUserImagePath!=null} ? 
                                  ${currentUserImagePath} : '/images/defaultUserImage.png'"
                          style="width: 70px; height: 70px;" ></img>
                  </p>
                  <p class="m-3" style="font-size: 1.5rem;
                        padding-bottom: 10px;"
                      >[[${currentUserNickname}]]</p>
                  <input type="hidden">
              </div>
          </div>
            
            <!-- 코멘트 작성란 -->
            <div class="input-group"
                th:style="${currentUserNickname!=null}? 
                  'position: absolute; top: 110px;': 'position: absolute; top: 30px;'" >
                <textarea type="text" id="createContent" name="createContent"
                    th:if="${currentUserNickname!=null}"
                    class="border form-control" 
                    placeholder="댓글을 입력하세요."
                    style="margin: 0 50px;"></textarea>
                <span class="border mx-3 p-6 form-control" 
                    th:if="${currentUserNickname==null}"
                    onclick="window.location.href='/login'"
                    style="cursor: pointer; height: 70px;">
                    댓글을 작성하려면 
                    <span style="font-weight: bold; 
                        text-decoration: underline;">로그인</span>
                     해주세요.</span>
            </div>
            
            <!-- 버튼 -->
            <div class=" d-flex justify-content-end m-3 px-3"
                style="position: absolute; top: 40px; right: 20px;
                      ">
                <button type="button" 
                    th:if="${currentUserNickname!=null}"
                    class=" text-center btn px-4 mx-3" id="createbtn"
                    style="background-color: #B1D7B4;">등록</button> 
            </div>
        </div>
    </div>
        
        
    </div>
    <script type="text/javascript" src="/js/course/courseComment.js"></script>
        
    
    <!-- 산책로 연관 게시물 : 연서님 작성 -->
    <div class="container boardList " style="margin-top: 70px;">
        <div class = "d-flex">
            <!-- 자바스크립트에서 사용할 용도이므로 숨기기 -->
            <h5 th:text="${id}"></h5>
            <h5 th:text="${id}" style = "display:none;"></h5>
            
            <h3 style="margin-left: 40px; margin-top: 30px;
                    font-family: 'KimjungchulGothic-Bold'; margin-bottom: 50px;">
                 <i class="fa-solid fa-leaf" style="color: #7fb77e;"></i> &nbsp;관련 게시물 모아보기</h3>
        </div>

        <!-- 정렬 방식 선택--> 
        <div class = "d-flex justify-content-between" style="margin-bottom: 30px;">
            <p class = "mb-2 boardCount"
                >게시물 수 : <span th:text="${courseBoardList.totalElements}"></span></p>
            <select class="boardList-sort sort" 
                id="boardCourseSort" name="sort" 
                onchange="boardWithSearchResults()"
                style="border-radius: 10px; padding-left: 5px;">
	            <option value="default">최신순</option>
	            <option value="boardViewCount">조회 순</option>
	            <option value="likeCnt">좋아요 순</option>
            </select>
        </div>
      
        <div id="needToChange">
        <!-- 테이블로 게시물 목록 출력 -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th class ="col-lg-2">글 번호</th>
              <th class ="col-lg-8">게시물</th>
              <th class ="col-lg-2">댓글 수</th>
            </tr>
          </thead>
          <tbody>
            <!-- 자바스트립트 redirectToDetail 메서드 사용 : 컬럼을 누르면 게시글 상세페이지로 이동하는 url 작성-->
            <tr th:each="courseBoard, stat : ${courseBoardList}" 
               th:data-url="@{/board/{id}(id=${courseBoard.boardId})}" 
               onclick="redirectToDetail(this)"
               style="cursor:pointer;">
              <td style="padding-top: 20px; padding-left: 20px;">
                <span th:text = "${courseBoard.boardId}"
                    >글 번호</span>
              </td>
              <td>
                <!-- 제목의 글자수 길면 ...으로 생략 -->
                <div class = "first fs-5"
                    style="margin-top: 10px;"
                    th:text = "${#strings.length(courseBoard.boardTitle) &gt; 50 ? 
                    #strings.substring(courseBoard.boardTitle, 0, 50) + '...' : courseBoard.boardTitle}">글 제목</div>
                <div class = "second d-flex">
                    <p class="rounded-circle overflow-hidden"
                        style="width: 40px; height: 40px;">
                        <img th:src = "${wirterMemberImagePaths!=null} ? 
                                ${wirterMemberImagePaths[stat.index]} : '/images/defaultUserImage.png'" 
                             style="width: 100%; height: 100%;"/>
                    </p>
                    <div class="mt-3 mx-2" style="font-size: 18px;"
                         th:text = "${courseBoard.userNickname}">작성자 닉네임</div>
                </div>
                
                <div class  ="third d-flex text-secondary">
                    <div class="m-1" th:text = "|date ${#dates.format(courseBoard.boardCreatedDate, 'yyyy-MM-dd')}|">작성일자</div>
                    <div class="m-1" th:text = "|in ${courseBoard.boardType}|">카테고리</div>
                    <p class="m-1" style="width: 20px; height: 20px;">
                        <i class="fa-regular fa-eye"></i>
                    </p>
                    <div class="m-1" th:text = "${courseBoard.boardViewCount}">조회수</div>
                    <p class="m-1" style="width: 20px; height: 20px;">
                        <img src = "/images/common/heart-click.png" class="img-fluid"/>
                    </p>
                    <div class="m-1" th:text = "${courseBoard.likeCnt}">좋아요 수</div>
                </div>
    
              </td>
              <td style="padding-top: 20px;" >
                <span 
                    th:text = "${courseBoard.commentCnt}" class = "mx-4">댓글 수</span>
              </td>  
            </tr>
          </tbody>
        </table>
        <p th:if="${courseBoardList.totalElements == 0}" 
           class= "noResult mx-5 m-5 text-center fs-5">해당 산책로가 언급된 게시물이 없습니다.</p>
    
        <!-- 페이지네이션 기능 -->
    <div class="pageInfo_wrap" id="pagination">
        <!--pagination-sm 추가하면 작아지고, pagination-lg 추가하면 커진다 -->
        <ul class="pagination pagination 
                   justify-content-center page-border">
           <li class="page-item" id="pagePrev"
               th:classappend="${currentPage == 0} ? 'disabled' : ''">
               <!-- 링크 클릭할 때 해당 링크의 url로 이동하는 기본 동작 막기 위해 사용
                    자바스크립트가 없는 상황에서는 아무 것도 일어나지 않게끔 한다. -->
               <!-- th:onclick="'loadPage(\''+${currentPage - 1}+'\')'" -->
               <a class="page-link arrow rounded-3" 
                  href="javascript:void(0);"
                  th:onclick="'loadPage(' + (${currentPage - 1}) + ')'">
                  <i class="fa-solid fa-chevron-left"></i></a>
           </li>
           <th:block th:each="page : ${#numbers.sequence(pageStart, pageEnd)}">
               <li th:if="${page == (currentPage+1)}" 
                   class="page-item active">
                   <a class="page-link page-number" 
                   href="javascript:void(0);"
                   th:onclick="'loadPage(' + (${page - 1}) + ')'">[[${page}]]</a>
               </li>
               <li th:unless="${page == (currentPage+1)}" 
                   class="page-item page-number">
                   <a class="page-link" 
                   href="javascript:void(0);"
                   th:onclick="'loadPage(' + (${page - 1}) + ')'">[[${page}]]</a>
               </li>
           </th:block>
           <li class="page-item" id="pageNext"
               th:classappend="${currentPage == lastPage -1} ? 'disabled' : ''">
               <a class="page-link arrow rounded-3" 
               href="javascript:void(0);"
               th:onclick="'loadPage(' + (${currentPage + 1}) + ')'">
               <i class="fa-solid fa-chevron-right"></i></a>
           </li>
        </ul>
    </div>
    </div>
    </div> <!-- boardList의 끝! -->
    <!-- <div id="loginModal" class="modal">
        <div class="modal-content">
            <p>로그인이 필요한 서비스입니다.</p>
            <button id="goToLoginPage">로그인 페이지로 이동하기</button>
            <button id="stayOnPage">현재 페이지 유지하기</button>
        </div>
    </div> -->
</th:block>
</body>
</html>