<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/defaultLayout}">
<head>
<meta charset="UTF-8">
	<title>사용자 & 산책로 관리</title>	
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
	<link href="/css/user/adminPage.css" rel="stylesheet"></link>
	<script src="/js/user/adminPage.js"></script>
</head>
<body>
<th:block layout:fragment="Content">
	<div class="box">
		<!-- 제목 및 조건 선택 박스 -->
	    <div class="course-list-top">
	        <!-- 토글 & 검색창 -->
	        <div class="container row course-list-top_searchBox">
	            <div class="col-md-5 course-list-top_title">
		            <h5 class="course-list-top_subtitle">관리자 페이지</h5>
		            <h1 class="course-list-top_bigTitle">사용자 & 산책로 관리</h1>
	            </div>
	       	</div>
			<div class="container adminPage">
		        <div class="buttonGroup fs-3 justify-content-evenly">
		            <button class="btn1" id="MoveUserPage">사용자 관리</button>
		            <button class="btn2" id="MoveAdminCoursePage">산책로 관리</button>
		        </div>
			</div>
		</div>
	</div>	
</th:block>
</body>
</html>