<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{common/layouts/defaultLayout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>아이디 찾기</title>

<link href="/css/user/idlookup.css" rel="stylesheet"></link>


</head>
<body>
<th:block layout:fragment="Content">
	<div class="container pb-5">
		<h1 class="text-center mt-5 ">아이디 찾기</h1>
         <div class="container border rounded-4 shadow-lg p-5 mt-4 mb-5"
            style="width: 800px;">
		<h6 class="fs-5">이름과 이메일 주소를 입력하세요</h6>
		<br>
		<br>
		<form id="idLookupForm">

			<!-- 이름 입력 필드 -->
			<div class="mb-3">
				<label for="userName" class="form-label">가입한 이름</label> <input
					type="text" class="form-control" id="userName" name="userName"
					required>
			</div>
			<!-- 이메일 입력 필드 -->
			<div class="mb-3">
				<label for="userEmail" class="form-label">가입한 이메일 주소</label> <input
					type="email" class="form-control" id="userEmail" name="userEmail"
					required>
			</div>

			<br>
			<!-- 아이디 찾기 버튼 -->
			<button type="button" class="btn rounded-3 d-block fs-5 w-75 mb-5 mt-5" style="background-color:  #7FB77E;
   color: white;
   border: 2px solid #7FB77E; margin: auto;" id="findIdBtn" data-bs-toggle="modal"
				data-bs-target="#staticBackdrop">아이디 찾기</button>
		</form>
	</div>
	</div>


	<!-- 모달 창에 보이게 하기(button submit으로 하면 안 되겠지) -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel">아이디 찾기 결과</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body" id="idLookupResult">
				</div>
				<div class="modal-footer">
					<form action="/login" method="get">
						<button type="submit" id="ok" class="btn btn-primary" style="background-color:  #B1D7B4;
   color: black;
   border: 2px solid #B1D7B4; margin: auto;">로그인 화면으로 이동</button>
					</form>
				</div>
			</div>
		</div>
	</div>


<script>

document.addEventListener("DOMContentLoaded", function() {
   
   var findIdBtn = document.getElementById("findIdBtn");
   var idLookupResult = document.getElementById("idLookupResult");
   
   findIdBtn.addEventListener("click", function() {
      
        var userName = document.getElementById("userName").value;
        var userEmail = document.getElementById("userEmail").value;

        // XMLHttpRequest 생성
        var xhr = new XMLHttpRequest();

        // POST 요청 설정
        xhr.open("POST", "/login/idlookup", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        // 요청 본문 생성
        var data = "userName=" + encodeURIComponent(userName) + "&userEmail=" + encodeURIComponent(userEmail);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) { 
                if (xhr.status === 200) {
                  idLookupResult.textContent = xhr.response;
                }else {
                  alert("아이디 찾기 오류");
                  }
                }
            };

        // 요청 전송
        xhr.send(data);
       
    });
});

</script>

</th:block>
</body>
</html>