@charset "UTF-8";
@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.formTitle{
    font-weight: bold;
}
.formBox {
	border: 1px solid black;
}

.wrapForm{
    background:#EEF2E6;
    font-family: 'NanumSquareRound';
    font-size: 20px
}

.user-imgWithBtnBox {
	width: 220px; height: 220px;
    position: relative;
    align-items: center;
}

.user-imgBox {
	width: 100%; height: 100%;
    border: solid 2px #e9ecef;
    border-radius : 50%;
    overflow: hidden; display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px;
}

.imageUploadButton .imageDeleteButton {
	position: relative;
}

.user-imgBox_image {
	height:90%; object-fit: cover;
}

.user-infoBox {
	width: 450px; height: 200px;
}

.userNickname {
	width: 300px; height: 55px;
	padding-left: 20px;
	/* text-indent: 20px; */
	font-size: 30px;
	font-weight: bold;
	margin-top: 5px;
}

.fixedName {
	margin-top: 50px;
}

.userDesc {
	padding-left: 20px;
	font-family: 'NanumSquareRound';
	font-size: 18x;
	padding-top: 10px;
	width: 450px; height: 130px;
	margin-top: 15px;
	margin-left: 10px;
}

.fixedUserDesc {
	padding-top: 15px;
}

.userDescEdit {
	height: 70px;
}

.userBox_btn {
	height: 40px; width: 100px;
	border-radius: 10px;
	background-color: #D6CDA4;
	margin: 10px 0 0 75px ;
}