/* 폰트 */
@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전체 폰트 적용 */
.container-searchList {
    font-family: 'NanumSquareRound';
}

/* 태그 */
.tagContent {
	background-color: #EEF2E6;
	color: #3D8361;
	font-size: 18px;
	margin: 10px 10px 10px 10px;
    padding: 10px 20px 10px 20px;
}

/* 제목 */
.searchCount {
	font-family: 'KimjungchulGothic-Bold';
	text-indent: 10px;
}

.searchForm .btn {
	background-color: #3D8361;
}

/* 검색창 */
.searchInput {
    text-indent: 15px;	
}

.searchBtn {
	width: 70px;
}

.searchForm {
	width: 700px;
}
.course-list_imgBox {
	height: 230px;
}
