@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration-line: none;
    color : #1C6758;
}

.breadcrumb {
    font-family: 'NanumSquareRound';
    font-size: 18px;
    
}

.breadcrumb-item:last-child {
    font-weight: bold;
}

.sidebarBtn {
    color : #1C6758;
    
}
.sidebar-title {
    font-family: 'Yeongdo-Rg';
}
.sidebar-sub-title {
    color : #1C6758;
}

.sidebar-sub-title2 {
    color : #7FB77E;
}
.side-logo {
    margin-left: -10px;
    width: 50px;
    height: 50px;
}

/* 유저 닉네임 + 사진 보기 */
.formTitle{
    font-weight: bold;
}
.formBox {
	margin-left: 8%; margin-right: 8%;
	background-color: #EEF2E6;
    border: 1px solid #ccc;
    border-radius: 20px; 
    padding: 2%;
}

.wrapForm{
    background:#EEF2E6;
    font-family: 'NanumSquareRound';
    font-size: 20px
}

.user-imgWithBtnBox {
    width: 220px; height: 220px;
    position: relative;
    align-items: center;
    position: relative;
}

.user-imgBox {
    width: 100%; height: 100%;
    border: solid 2px #e9ecef;
    border-radius : 50%;
    overflow: hidden; display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px;
    position: absolute;
}

.imageUploadButton{
    /* position: absolute; */
    bottom: 10px; left: 39%;
    border-radius: 100px;
    background-color: rgb(127,183,126, 0.75);
}

.imageUploadButton i {
    font-size: 2.7em;
    color: #F7F6DC;
}

.imageDeleteButton{
    /* position: absolute; */
    border: none; background-color: none;
    right: 0px; top: 20px;
    color: #F96666;
    background: transparent;
}

.imageDeleteButton i {
    font-size: 2em;
    color: #F96666;
}

.imageUploadButton, .imageDeleteButton {
    position: absolute;
    border: none; 
    outline: none;
}

.user-imgBox{
	background-color: white;
}

.user-imgBox_imageborder {
    height:90%; border-radius: 100px;
}

.user-imgBox_image {
    height:100%; object-fit: cover;
}

.user-infoBox {
    width: 450px; height: 200px;
}

.userNickname {
    width: 300px; height: 55px;
    padding-left: 20px;
    /* text-indent: 20px; */
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
}

.fixedName {
    margin-top: 50px;
}

.userDesc {
    padding-left: 20px;
    font-family: 'NanumSquareRound';
    font-size: 18x;
    padding-top: 10px;
    width: 450px; height: 130px;
    margin-top: 15px;
    margin-left: 10px;
}

.fixedUserDesc {
    padding-top: 15px;
}

.userDescEdit {
    height: 70px;
}

.userBox_btn {
    height: 40px; width: 55%;
    border-radius: 10px;
    background-color: #FFD43B;
    margin: 10px 0 0 75px ;
    padding: 0 10px 0 10px;
}
.userBox_btn:hover {
    background-color: #FFB100;  
}
.user-descBox {
	padding-left: 5px;
}

.user-imgBox_imageborder {
   height:90%; 
   width: 90%;
   border-radius: 50%;
   overflow: hidden;
}

.user-imgBox_image {
   height:100%; 
   width: auto;
}

.post-img {
    margin-top: 120px;
}

.btn {
    border: 0px !important;
}

.post-img-btn {
    line-height: 35px;
    font-size: 1.2rem;
}

#postBtn:hover {
    background-color: #D6CDA4 !important;;
}

#imgBtn:hover {
    background-color: #B1D7B4 !important;;
}

/* ---내가 쓴 게시글--- */
/* 글 작성 버튼 */
.b-editor {
    line-height: 30px;
    width: 130px;
    color: white;
    background-color: #3D8361;
    font-size: 1rem;
}

.b-editor:hover {
    background-color: #1C6758;
}
#postContainer {
    font-family: 'NanumSquareRound';
}
.b-editor:hover {
    color: #fff;
    background-color: #1C6758;
}

.myCount {
    font-family: 'NanumSquareRound';
    color:#3D8361;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 70px;
}

.sidebar {
    font-family: 'NanumSquareRound';
}

.course-title {
    font-family: 'KimjungchulGothic-Bold';
}
/* 페이지 css */
.pageInfo_wrap {
    margin-bottom: 100px;
}

.page-link {
  color: #1C6758; 
  background-color: #fff;
  border: none;
  height: 35px;
}

.page-border {
    border-color: #ccc;
}

.page-link {
    font-size: 1.2rem;
    margin: 10px;
    line-height: 23px;
    border-radius: 10px;
}

.page-item.active .page-link {
 z-index: 1;
 color: white;
 font-weight:bold;
 background-color: #1C6758;
 border-radius: 10px;
}

.page-link:focus, .page-link:hover {
  color: #3D8361;
  /* background-color: #EEF2E6; */
  background-color: #FBC252;
  border-color: #3D8361;
  border-radius: 10px;
}

#pagePrev:a.page-link, #pageNext:a.page-link {
    background-color: #f7f7f7;
    border-radius: 10px;
}

/* 페이지네이션 이전/다음 버튼 호버 효과 */
#pagePrev:not(.disabled):hover a.page-link,
#pageNext:not(.disabled):hover a.page-link {
    background-color: #e0e0e0; /* 호버 시 변경할 배경 색상 설정 */
    cursor: pointer; /* 호버 시 커서 설정 */
}    

/* 사이드바 */
.mypageSidebar {
    height: 85vh;
    width: 280px;
}

/* 내 이미지 모아보기 */
.myImage-row {
	padding-left: 8%;
	padding-right: 8%;
	margin-bottom: 35px;
}

.myImage-lists {
	position: relative;
	margin-top: 65px;
	margin-bottom: 200px;
}

.myImage-list-wrapper{
	margin-top: 30px;
	width: 33%;
	transition: transform 0.2s;
	cursor: pointer;
}

.myImage-list-wrapper:hover{
   transform: scale(1.01);
}

.myImage-list {
	width: 100%;
	aspect-ratio: 1/1;
	overflow: hidden;
}

.myImage-img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}