@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 내 산책로 모아보기 */
.myCount {
    font-family: 'NanumSquareRound';
    color:#3D8361;
    font-weight: bold;
    font-size: 1.2rem;
}

.course-list-top {
    width: 100%;
    height: 600px;
    background-color: #f5f5f5;
}

.course-list-top_title {
    font-size: 40px;
    text-align: center;
    padding-top: 70px;
    font-weight: 800;
}

.course-list-top_subtitle {
    margin: 30px 0 50px;
    font-size: 25px;
    text-align: center;
    opacity: 0.7;
}


.course-lists {
    margin-top: 70px;
}

.course-list {
    font-family: 'NanumSquareRound';
    cursor: pointer;
    margin-bottom: 50px;
    transform: scale(1);
    /* position: relative; */
}

.course-list:hover{
    transform:scale(1.01);
}

.course-list_titlebox {
    position: relative;
    margin-right: -20px;
}

.course-list_big-title {
    width: 100%;
}

.course-list_small-title {
    font-family: 'KimjungchulGothic-Bold';
}

.course-list_level {
    font-size: 20px;
    top: -85%; right: 5%;
    position: absolute;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    min-width: 5rem;
    white-space: nowrap;
    height: 2rem;
    text-align: center;
    line-height: 1.5rem;
}

.bg-info, .bg-success {
    width: 4.5rem;
}

.bg-danger {
    width: 7rem;    
}

.course-list_imgBox {
    height: 230px;
}


.course-list_small-title {
    height: 45px;
    margin-bottom: 55px;
}

.course-list_region {
    height: 10px;
    margin-top: 55px;
}

.course-list_aditDc {
    height: 90px;
}

.heart-icon {
    width: 25px;
    padding-bottom: 3px;
}

.pageInfo_wrap {
    margin-bottom: 100px;
}

.page-link {
  color: #1C6758; 
  background-color: #fff;
  border: none;
  height: 35px;
}

.page-border {
    border-color: #ccc;
}


.page-link {
    font-size: 1.2rem;
    margin: 10px;
    line-height: 23px;
    border-radius: 10px;
}

.page-item.active .page-link {
 z-index: 1;
 color: white;
 font-weight:bold;
 background-color: #1C6758;
 border-radius: 10px;
}

.page-link:focus, .page-link:hover {
  color: #3D8361;
  /* background-color: #EEF2E6; */
  background-color: #FBC252;
  border-color: #3D8361;
  border-radius: 10px;
}

#pagePrev:a.page-link, #pageNext:a.page-link {
    background-color: #f7f7f7;
    border-radius: 10px;
}

/* 페이지네이션 이전/다음 버튼 호버 효과 */
#pagePrev:not(.disabled):hover a.page-link,
#pageNext:not(.disabled):hover a.page-link {
    background-color: #e0e0e0; /* 호버 시 변경할 배경 색상 설정 */
    cursor: pointer; /* 호버 시 커서 설정 */
}