<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head th:replace="~{common/fragments/config :: ConfigFragment}">
	
	<meta charset="UTF-8">
	<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">WalkAroundYou</title>
	
</head>

<body>

	<header th:replace="~{common/fragments/header :: HeaderFragment}"></header>
	
	<!-- Content 영역 참조 -->
	<th:block layout:fragment="Content"></th:block>
	
	<footer th:replace="~{common/fragments/footer :: FooterFragment}"></footer>
	
</body>

</html>