
.course-top_title {
    margin-top: 30px;
}

.course-top_buttonBox {
	border: 1px solid blue;
	margin-top: 150px;
	height: 100px;
}

.course-top_topButton{
	margin-bottom: 25px;
}

.course-top_buttonBox > * > button {
	height: 40px;
	max-width: 250px;
}

.name {
	width: 20%;
}

.content {
	width: 80%;
	padding-right: 50px;
}

.course-mapBox {
	background-color: #ffff80;
}

.course-imgBox {
	width: 100%; height: 100%;
	margin-top: 50px;
	overflow: hidden;
}

.course-main-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}