
.course-top_title {
    margin-top: 30px;
}

.course-top_buttonBox {
    border: 1px solid blue;
    margin-top: 150px;
    height: 100px;
}

.course-top_topButton{
    margin-bottom: 25px;
}

.course-top_buttonBox > * > button {
    height: 40px;
    max-width: 250px;
}

.name {
    width: 180px;
    margin-right: 50px;
}

.content {
    width: 75%;
    padding-right: 50px;
}

input {
	width: 100%;
	/* height: 40px; */
	/* border: none; -- border가 뚜렷하게 있으니까 멋스럽지 않다... 어떻게 수정할까? */
}

/* .textarea-container {
	height: 100px;
	overflow-y: auto;
} */

.longText {
	width: 100%;
	resize: none;
	height: 50px;
	overflow-y: auto;
}

.aditDc {
    width: 100%;
    resize: none;
    height: 100px;
    overflow-y: auto;
}

/* 산책로 사용자 페이지에서 산책로 메인 사진은 높이 300px로 고정되어 있음 */
.course-imgBox {
	width: 100%; height: 350px;
	margin-top: 50px;
	overflow: hidden;
}

.course-imgTop {
	display: flex;
	height: 50px;
}

.course-imgTop > p {
	line-height: 50px;
}

.course-imgTop > button {
	margin-left: 20px;
	height: 30px; margin-top: 10px;
	background-color: #eee;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* 브레이크 포인트 사용해서 화면 가로폭이 줄 때 자연스럽게 사이즈 변하게 만들자 */
.course-main-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

select {
	width: 150px;
}

#coursDetailLtCn {
	width: 150px;
}

.timeInput {
	width: 50px;
	text-align: center;
}