@charset "UTF-8";
@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.top-imgBox {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

/* 브레이크 포인트 사용해서 화면 가로폭이 줄 때 자연스럽게 사이즈 변하게 만들자 */
.top-imgBox_img {
    width: 100%;       /* 변경: 이미지 너비를 자동으로 조정하지 않음 */
    height: 100%;      /* 이미지 높이를 부모 요소에 맞게 설정 */
    object-fit: cover; /* 이미지를 화면에 맞춰 조절하고 가로세로 비율 유지 */
}

.course-header {
    margin-bottom: 20px;
}

.course-title {
	position: relative;
	display: inline-block; /*요소가 필요한 공간만 차지하도록 설정*/
}

/* 크기를 키우고, 제목 바로 위에 있는 것처럼 위치를 조절하자 */
.course-list_level {
	font-family: 'NanumSquareRound';
    position: absolute;
    top: -135px; left: 0;
    text-align: center;
    font-size: 24px;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    min-width: 5.5rem;
    white-space: nowrap;
    height: 2.5rem;
    line-height: 2rem;
}

.course-infoBox {
	padding-top : 70px;
}

.rightBox {
    position: relative;
}

.iconBox {
	padding-top: 0;
	font-family: 'NanumSquareRound';
	position: absolute;
	right: 30px;
}

.icon-wrapper {
	width: 100px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon-wrapper:hover{
    transform: scale(1.07);
}

.viewIcon {
	cursor: default;
}
.viewIcon:hover {
	transform: scale(1);
}

.icon-wrapper img {
	display: block;
	margin: 0 auto;
	width: 45px;
    margin-bottom: 15px;
}

.icon-wrapper p {
	line-height: 1.3;
}

.name {
    width: 100px;
    text-align: center;
}

.course-content {
	font-family: 'NanumSquareRound';
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.table-wrapper {
	width: 55%;
	position: relative;
}

.no-underline td:last-child {
	text-decoration: none !important; 
	/* !important : 부트스트랩 스타일을 덮어쓸 수 있다!는 줄 알았는데 안 된다. */
}

.course-viewCount {
    /* position: absolute;
    bottom: 10px; right: 10px; */
    color: #1C6758;
}

.course-mapBox {
	width: 40%;
	height: 550px;
	background-color: lightyellow;
	margin-right: 20px;
}

/* 게시글 관련 */
.board-title {
    font-family: 'KimjungchulGothic-Bold';
}

.boardList {
    font-family: 'NanumSquareRound';
}
.boardCount{
    color:#3D8361;
    font-weight: bold;
    font-size: 1.2rem;
    text-indent: 7px;
}
.form-select {
    text-indent: 15px;
    width: 200px;
}

.boardList-sort {
    text-indent: 8px;
    width: 10%;
    height: 30px;
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:url('data:image/svg+xml; base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktY2FyZXQtZG93bi1maWxsIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Ik03LjI0NyAxMS4xNCAyLjQ1MSA1LjY1OEMxLjg4NSA1LjAxMyAyLjM0NSA0IDMuMjA0IDRoOS41OTJhMSAxIDAgMCAxIC43NTMgMS42NTlsLTQuNzk2IDUuNDhhMSAxIDAgMCAxLTEuNTA2IDB6Ii8+Cjwvc3ZnPg==') no-repeat 95% 50%/15px auto;
    border-radius: 10px;
    background-position: 100px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid #ccc;
}

select::-ms-expand{
    display:none;
}

/* 페이징 css */
.pageInfo_wrap {
    margin-bottom: 100px;
}

.page-link {
  color: #1C6758; 
  background-color: #fff;
  border: none;
  height: 35px;
}

.page-border {
    border-color: #ccc;
}

.page-link {
    font-size: 1.2rem;
    margin: 10px;
    line-height: 23px;
    border-radius: 10px;
}

.page-item.active .page-link {
 z-index: 1;
 color: white;
 font-weight:bold;
 background-color: #1C6758;
 border-radius: 10px;
}

.page-link:focus, .page-link:hover {
  color: #3D8361;
  /* background-color: #EEF2E6; */
  background-color: #FBC252;
  border-color: #3D8361;
  border-radius: 10px;
}

#pagePrev:a.page-link, #pageNext:a.page-link {
    background-color: #f7f7f7;
    border-radius: 10px;
}

/* 페이지네이션 이전/다음 버튼 호버 효과 */
#pagePrev:not(.disabled):hover a.page-link,
#pageNext:not(.disabled):hover a.page-link {
    background-color: #e0e0e0; /* 호버 시 변경할 배경 색상 설정 */
    cursor: pointer; /* 호버 시 커서 설정 */
}

/* 댓글 관련 */
.wrapForm {
    background:#EEF2E6;
    font-family: 'NanumSquareRound';
    font-size: 20px
}

.bubble:before{
    content: '';
    position:relative;
    z-index: -1;
    left: -25px; top: 110px;
    border-top: 30px solid #EEE;
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}
.bubble{
    margin-top:-20px;
    margin-left: 30px;
}
.modifybtn, .registerbtn{
    background: #3D8361;
    color: white;
}
#createbtn:hover {
	background-color: #7FB77E;
	color: #F7F6DC;
}


/* 지도 정보 관련 css */
.fa-bounce {
    --fa-animation-iteration-count: 1;
    --fa-bounce-height: -5px;
    --fa-animation-timing: cubic-bezier(0.1, -0.6, 0.2, 0);
    --fa-bounce-jump-scale-x : 1;
    --fa-bounce-jump-scale-y : 1.05;
    --fa-bounce-land-scale-x : 1;
    --fa-bounce-land-scale-y : 1;
    --fa-bounce-start-scale-x : 1.05;
}
.wrap {
    position: absolute; 
    left: 16px; bottom: 40px;
    width: 250px; height: auto;
    margin-left: -144px;
    text-align: left; overflow: hidden;
    font-size: 12px; 
    line-height: 1.5;}
.wrap * {
    padding: 0;margin: 0;}
.wrap .info {
    height: auto;
    margin-bottom: 12px;
    border-radius: 15px; 
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #EEF2E6;}
.wrap .info:nth-child(1) {
    border: 0;
/*      box-shadow: 0px 1px 2px #888; */}
.info .title {
    padding: 5px 0px 30px 15px;
    height: 30px; 
    line-height: 27px;
    background: #3D8361;
    color: white;
    font-size: 14px; 
    font-weight: bold;}
.info .title .icon{
    --fa-animation-iteration-count: 1;
    --fa-bounce-height: -4px;
    --fa-animation-timing: cubic-bezier(0.1, -0.6, 0.2, 0);
    font-size: 18px; 
    margin-right: 3px;
}
.info .close {
    position: absolute;
    top: 4px; right: 8px;
    width: 17px;height: 17px;}
.info .close:hover {cursor: pointer;}
.info .body {
    position: relative;
    overflow: hidden;}
.info .desc {
    position: relative;
    margin: 12px 15px 12px 15px;
    color : #1C6758;
    height: auto;}
.desc .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    }
.desc .textsm {
    overflow: hidden;
    font-size: 12px;
    color : #1C6758;
    margin-top: -2px;}
.desc .now{
    color: #7FB77E;
    font-weight: bolder;}
.desc a{
    color: inherit;
    text-decoration-line: none;
}
.desc .icon{
    font-size: 3px;
    margin-right: 8px;
    color : #1C6758;}
.desc .moreOpenContent{
    display: none;
}
.desc .moreClose{
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}
.desc .moreOpen{    
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
}
.info:after {
    content: '';
    position: absolute;
    margin-left: -9px;
    margin-bottom: -12px;
    left: 50%; bottom: 0;
    width: 18px; height: 24px;
    border-top: 12px solid #EEF2E6;
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    /* background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')*/}
.info .link {color: white;}

/* 좋아요 호버 */
.like{
	cursor: pointer
}
