@charset "UTF-8";
@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.course-list-top {
    width: 100%;
    height: 380px;
    background-color: #f5f5f5;
    margin-bottom: 100px;
}

.course-list-top_searchBox {
    font-family: 'NanumSquareRound';
    height: 320px;
    width: 70%;
    margin: 0 auto;
}

.course-list-top_title_group{
     padding: 50px 0 0 70px;
}
.course-list-top_title {
    margin-top: 30px;
    font-family: 'KimjungchulGothic-Bold';
}

.course-list-top_title2{
    font-family: 'KimjungchulGothic-Bold';
}

.course-list-top_subtitle {
    margin-top: 20px;
    font-family: 'NanumSquareRound';
}

.course-list-top_conditionBox {
    margin-top: 30px;
    font-size: 20px;
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:url('data:image/svg+xml; base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktY2FyZXQtZG93bi1maWxsIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Ik03LjI0NyAxMS4xNCAyLjQ1MSA1LjY1OEMxLjg4NSA1LjAxMyAyLjM0NSA0IDMuMjA0IDRoOS41OTJhMSAxIDAgMCAxIC43NTMgMS42NTlsLTQuNzk2IDUuNDhhMSAxIDAgMCAxLTEuNTA2IDB6Ii8+Cjwvc3ZnPg==') no-repeat 95% 50%/15px auto;
    border-radius: 10px;
}

select::-ms-expand{
    display:none;
}

select option:checked {
    background-color: #E1ECC8;
    color: #1C6758;
}

.course-list-top_conditions {
    justify-content: space-evenly;
    margin-top: 20px;
    padding-left: 5%; padding-right: 5%;
}

.course-list-top_condition {
    width: 45%;
    height: 40px;
    margin: 20px 0 0 0;
    cursor: pointer;
    border: 1px solid #ccc;
}

.keyword-search {
    width: 88%;
    height: 50px;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.course-list-top_searchTarget {
    cursor: pointer;
    border : none;
}

#searchTargetAttr {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#searchKeyword {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
}

.btngroup{
    margin: auto;
}

.searchbtn {
    width: 40%;
    height: 50px;
    font-size: 20px;
    font-weight:bold;
    border: 0px;
    background-color: #3D8361 !important ;
    color: white !important;
    border-radius: 10px;
    justify-content: space-around;
}

.searchbtn:hover,
.searchbtn:active,
.searchbtn:focus {
    background-color: #1C6758 !important;   /* !important : 다른 모든 스타일 규칙보다 우선시하도록. */
    color: white !important;
}

.resetbtn {
    height: 50px;
    font-size: 20px;
    font-weight:bold;
    border: 0px;
    background-color: #FBC252 !important ;
    color: white !important;
    border-radius: 10px;
}

.resetbtn:hover,
.resetbtn:active,
.resetbtn:focus {
    background-color: #FFB100  !important;  /* !important : 다른 모든 스타일 규칙보다 우선시하도록. */
    color: white !important;
}

#courseSearchBtn {
    border-radius: 10px;
}

#courseResetBtn {
    border-radius: 10px;
}

.sortBox {
    font-family: 'NanumSquareRound';
    margin: 0 auto;
    height: 100px;
    display: flex;
    margin-top: -100px;
    align-items: center;
    align-content: center; 
    justify-content:flex-end;
    padding-right: 30px;
}

.sortBox > * {
    /* margin-right: 50px; */
    margin-top: 50px;
    margin-bottom: 20px;
    height: 50px;
}

.courseCount{
    color:#3D8361;
    font-weight: bold;
    font-size: 1.3rem;
    margin-left: 10px;
    padding-top: 40px;
    position: absolute;
    z-index: -100;
    top: -115px;
}

.course-lists{
    margin-top: 25px;
    position:relative;
}

.course-list-sort {
    border: 2px solid #ccc;
    width: 230px;
    font-size: 20px;
    cursor: pointer;
    padding-left: 10px;
}

/* /* map {
    display: inline;
} */ */

.course-lists {
    margin-top: 70px;
}

.course-list {
    font-family: 'NanumSquareRound';
    cursor: pointer;
    margin-bottom: 50px;
    transform: scale(1);
    /* position: relative; */
}

.course-list:hover{
    transform:scale(1.01);
}

.course-list_titlebox {
    position: relative;
    margin-right: -20px;
}

.course-list_big-title {
    width: 100%;
}

.course-list_small-title {
    font-family: 'KimjungchulGothic-Bold';
}

.course-list_level {
    font-size: 20px;
    top: -85%; right: 5%;
    position: absolute;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    min-width: 5rem;
    white-space: nowrap;
    height: 2rem;
    text-align: center;
    line-height: 1.5rem;
}

.bg-info, .bg-success {
    width: 4.5rem;
}

.bg-danger {
    width: 7rem;    
}

.course-list_imgBox {
    height: 230px;
}


.course-list_small-title {
    height: 45px;
    margin-bottom: 55px;
}

.course-list_region {
    height: 10px;
    margin-top: 55px;
}

.course-list_aditDc {
    height: 90px;
}

.count-icon {
    width: 25px;
    padding-bottom: 3px;
    margin-right: 5px;
}

.countBox {
	text-align: lest;
	position: relative;
}

.left-align {
	display: inline-block;
}

.right-align-number {
	position: absolute;
	right: 0px;
}

.right-align-eye {
    position: absolute;
    right: 30px;
    top: 7px;
}

.pageInfo_wrap {
    margin-bottom: 100px;
}

.page-link {
  color: #1C6758; 
  background-color: #fff;
  border: none;
  height: 35px;
}

.page-border {
    border-color: #ccc;
}

.pagination li.page-item {
    /* padding: 8px 12px; */
}

.page-link {
    font-size: 1.2rem;
    margin: 10px;
    line-height: 23px;
    border-radius: 10px;
}

/* .page-number {
    border-radius: 10px;
}

.page-number:hover {
    border-radius: 10px;
} */

.page-item.active .page-link {
 z-index: 1;
 color: white;
 font-weight:bold;
 background-color: #1C6758;
 border-radius: 10px;
}

.page-link:focus, .page-link:hover {
  color: #3D8361;
  /* background-color: #EEF2E6; */
  background-color: #FBC252;
  border-color: #3D8361;
  border-radius: 10px;
}

#pagePrev:a.page-link, #pageNext:a.page-link {
    background-color: #f7f7f7;
    border-radius: 10px;
}

/* 페이지네이션 이전/다음 버튼 호버 효과 */
#pagePrev:not(.disabled):hover a.page-link,
#pageNext:not(.disabled):hover a.page-link {
    background-color: #e0e0e0; /* 호버 시 변경할 배경 색상 설정 */
    cursor: pointer; /* 호버 시 커서 설정 */
}

