<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/defaultLayout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
	<title>Comment 작성 폼</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
	<h5>Comment 작성 폼</h5>
	<form class="border">
		<!-- 코멘트 상단 : user 이미지, 닉네임 -->
		<div class="border w-80 d-flex flex-row m-5" style="height: 70px;">
			<p class="border h-100" th:text"${addBoardComment.userImg}" style="margin-right: 20px;" >이미지</p>
			<p class="border h-75" th:text="${addBoardComment.userNickname}" style="margin-right: 20px;">닉네임</p>
		</div>
		<!-- 코멘트 작성란 -->
		<div class="border w-80 d-flex flex-row m-5">
			<p class="border">댓글 입력란</p>
		</div>
		<!-- 버튼 -->
		<div class="border d-flex justify-content-end m-5">
			<button type="button" class="btn btn-primary">작성</button> 
		</div>
	</form>
</body>
</html>