<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
    <title>홈페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <h3>W.A.Y 커뮤니티 입니다.</h3>
        <form>
        <div class ="input-group d-flex p-2 justify-content-center">
            <div class ="">
                <select name = "boardType"  class = "form-select">
                    <option value = "FREE" value2 = "COMMUNITY" value3 = "REVIEW">전체</option>
                    <option value = "FREE">자유 게시판</option>
                    <option value = "COMMUNITY">모임 게시판</option>
                    <option value = "REVIEW">후기 게시판</option>
                </select>
            </div>   
            <div class ="mx-2">
                <select name ="searchType" class = "form-select">
                    <option value = "boardTitle" value2 = "boardContent">제목 + 내용</option>
                    <option value = "boardTitle">제목만</option>
                    <option value = "boardContent">내용만</option>
                    <option value = "userNickname">작성자</option>
                </select>        
            </div>
            <div class ="col-4">
                <input type = "text" class="form-control" name="keyword"/>
            </div>
            <div class="col-auto" >
                <button type="submit" class = "btn btn-primary mx-2">검색</button>
            </div>        
        </div>
        </form>

    </div>
</body>
</html>