<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Id 찾기</title>
<script>
        // 폼이 제출될 때 실행되는 함수
        function submitForm() {
            // 폼에서 입력한 데이터를 가져와서 'formData'객체에 저장
            // "idLookupForm"인 폼 엘리먼트를 찾아오기
            var formData = new FormData(document.getElementById("idLookupForm"));
            
            //  XMLHttpRequest 객체를 생성해서 이 객체를 사용해 Ajax 요청을 통해 서버에 폼 데이터를 전송
            var xhr = new XMLHttpRequest();
            // xhr.open() 메서드는 Ajax 요청을 설정
            // POST 메서드를 사용하여 서버의 "/login/idlookup" 엔드포인트로 요청을 보내도록 설정
            xhr.open("POST", "/login/idlookup", true);
            // XMLHttpRequest 객체의 상태 변화 이벤트에 대한 핸들러를 설정
            // XMLHttpRequest의 상태가 변화할 때마다 이 함수가 호출됨
            xhr.onreadystatechange = function () {
				// 서버 응답이 도착하고 HTTP 상태 코드가 200 (성공)인 경우를 확인
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Ajax 요청이 완료되면 서버에서 반환한 결과를 알림창으로 표시
                    alert(xhr.responseText);
                }
            };
            xhr.send(formData);
        }
    </script>
</head>
<body>
<h1>아이디 찾기</h1>
    <p>아이디를 찾기 위해 이름과 이메일 주소를 입력하세요:</p>
    <!-- 아이디 찾기 폼 -->
    <form action="login/idlookup" method="post" id="idLookupForm">
        <label for="text">이름 : </label>
        <input type="text" id="userName" name="userName" required><br>
        <label for="email">이메일 주소 : </label>
        <input type="email" id="userEmail" name="userEmail" required><br>
        <button type="button" onclick="submitForm()">아이디 찾기</button>
    </form>
    
    <p>아이디 조회 결과: <span th:text="${idlookup}"></span></p>
    
    <p><a href="/login">로그인 화면으로 돌아가기</a></p>
</body>
</html>