<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{common/layouts/defaultLayout}"
       layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>홈페이지</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
   <script type="text/javascript" src="/js/common/mainSearchList.js"></script>
</head>
<body>
    <!-- 임시 검색창 -->
   <div class="container">
       <form th:action="@{/search}" method="get" id="searchForm">
           <input type="text" name = "keyword" id="mainSearchKeyword" placeholder="검색어 입력">
           <button type="submit">검색</button>
       </form>
   </div>


</body>
</html>