<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/myPage.css"></link>
<script src="/js/myPage.js"></script>
<title>마이페이지</title>
    <!-- 다른 collapse 클릭 시 자동으로 내용이 사라지기 -->
	<script>
		// postContainer 버튼을 클릭할 때
		$('#postContainer').on('click', function() {
			// imgContainer collapse를 닫습니다.
			$('#imgContainer').collapse('hide');
		});
		// imgContainer 버튼을 클릭할 때
		$('#imgContainer').on('click', function() {
			// postContainer collapse를 닫습니다.
			$('#postContainer').collapse('hide');
		});
	</script>
    <!-- 변경 실패 시 알림 -->
	  <script th:if="${showAlert}">
	     alert('소개글 변경이 실패됐습니다.');
	  </script>
</head>

<body>
<th:block layout:fragment="Content">
    <div class="container">
        <h1 class="my-5 text-center formTitle">My Page</h1>
        
        <!-- 유저 소개 조회 -->
        <div class="formBox">
            <div class="needs-validation" th:object="${user}">
                <input type="hidden" name="userId" th:value="${user.userId}">
                <div class="m-3 d-flex justify-content-center userBox">
                    <div class="user-imgWithBtnBox">
                    <div class="user-imgBox">
                        <!-- src="/images/defaultUserImage.png"-->
                        <img class="user-imgBox_image" alt="유저 프로필 사진"
                            th:src="${imagePath}? 
                            ${imagePath}: '/images/defaultUserImage.png'"  />
                    </div>
                    </div>
                    <div class="m-3 user-infoBox">
                        <div class="row user-nicknameBox" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <span th:text="*{userNickname}"
                                    class="userNickname fixedName">내 닉네임</span>
                            </div>
                            <div class="col-md-6">
                                <!--  -->
                                <button type="submit" id="modifyBtn" 
                                        style="margin-top: -1px;"
                                        class="userBox_btn">내소개 수정</button>
                            </div>
                        </div>
                        <div class="row user-descBox">
                            <span th:text="*{userDescription}"
                                    class="userDesc fixedUserDesc"
                                    id="userDescription" name="userDescription"
                                    rows="4"
                                    style="white-space : pre-wrap;">나의 소개글 한 마디를 입력해주세요!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 유저 소개 수정폼 style="display: none;"-->
        <div class="formBox" >
            <form class="needs-validation" id="formData"
                method="post" action="/main/mypage" th:object="${user}"
                enctype="multipart/form-data">
                <input type="hidden" name="userId" th:value="${user.userId}">
                <div class="m-3 d-flex justify-content-center userBox">
                    <div class="user-imgWithBtnBox">
                        <div class="user-imgBox">
	                        <!-- 파일 업로드를 위한 숨겨진 input 요소. 
	                             업로드 버튼을 클릭하면 input을 클릭한 것처럼 작동하여 파일 선택 다이얼로그를 열게 됨 -->
	                         <input type="file" name="file" id="imageUploadInput" 
	                                style="display:none;" accept="image/*">
	                         <input type="hidden" name="ifNewImageExists"
	                               id="ifNewImageExists" value="0">
	                        <img class="user-imgBox_image" 
	                               id="user-imgBox_image"
	                               alt="유저 프로필 사진"
	                            src="/images/defaultUserImage.png" />
	                    </div>
	                    <button type="button" class="imageUploadButton"
                                onclick="uploadImage()"
                                >업로드</button>
                        <button type="button" class="imageDeleteButton"
                               onclick="deleteImage()"
                               >업로드 취소</button>
                    </div>
                    <div class="m-3 user-infoBox">
                        <div class="row user-nicknameBox">
                            <div class="col-md-6">
                                <input type="text" th:field="*{userNickname}"
                                    class="userNickname" />
                            </div>
                            <div class="col-md-6">
                                <button type="submit" id="modifySuccessBtn" 
                                        class="userBox_btn"
                                    >수정 완료</button>
                            </div>
                        </div>
                        <div class="row user-descBox">
                            <textarea th:field="*{userDescription}"
                                    class="userDesc userDescEdit"
                                    id="userDescription" name="userDescription"
                                    rows="4" placeholder="소개글 한 마디를 입력해주세요!"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    
    
    <!-- wrapForm 안에 게시물이나 이미지 넣으면 예쁘겠다! -->
    <div class="container rounded-5 p-4 p-lg-5 my-4 wrapForm">
        <p>wrapForm 안에 게시물이나 이미지 넣으면 예쁘겠다!</p>
        <p>이 네모가 게시글, 이미지 버튼 아래 있으면 될 것 같습니당</p>
    </div>
       
       <!-- 사이드바(오른쪽) : 햄버거 버튼이나 오른쪽에 커서를 뒀을 때 튀어나오도록 하자!!!! -->
               <nav id="sidebar"
                   class="col-md-3 col-lg-2 d-md-block bg-light sidebar position-fixed"
                   style="right: 0; height: 100%;">

                   <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                       <a href="/main"
                           class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                           <span class="fs-5 fw-semibold">W.A.Y(로고)</span>
                       </a>
                       <ul class="list-unstyled ps-0">

                           <li class="mb-1">
                               <button
                                   class="btn btn-toggle align-items-center rounded collapsed"
                                   data-bs-toggle="collapse" data-bs-target="#account-collapse"
                                   aria-expanded="false">나의 정보</button>
                               <div class="collapse" id="account-collapse">
                                   <ul class="btn-toggle-nav list-unstyled fw-normal pb-5 small">
                                       <li><a th:href="@{/main/mypage/userpage}" class="link-dark rounded">정보
                                               조회</a></li>
                                       <li><a href="#" class="link-dark rounded">나의 문의</a></li>
                                       <li><a th:href="@{/logout}" class="link-dark rounded">로그아웃</a></li>
                                   </ul>
                               </div>
                           </li>

                           <li class="border-top my-3"></li>
                           <li class="mb-1">
                               <button
                                   class="btn btn-toggle align-items-center rounded collapsed"
                                   data-bs-toggle="collapse" data-bs-target="#home-collapse"
                                   aria-expanded="true">나의 기록</button>
                               <div class="collapse show" id="home-collapse">
                                   <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                       <li><a href="#" class="link-dark rounded">내가 가본 길</a></li>
                                       <li><a href="#" class="link-dark rounded">내 좋아요</a></li>
                                       <li><a href="#" class="link-dark rounded">내 댓글</a></li>
                                   </ul>
                               </div>
                           </li>
                       </ul>
                   </div>
               </nav>


	<div class="container mt-5">
		<!-- 게시글 버튼 -->
		<button class="btn btn-primary mb-3" data-bs-toggle="collapse"
			data-bs-target="#postContainer"
			style="width: 35%; background-color: #facfbd; color: black; border-color: #facfbd;">
			게시글</button>

		<!--이미지 버튼 -->
		<button class="btn btn-primary mb-3" data-bs-toggle="collapse"
			data-bs-target="#imgContainer"
			style="width: 35%; background-color: #b5d284; color: white; border-color: #b5d284; margin-left: 10%;">이미지
		</button>

		<!-- 게시글 버튼 클릭하면 나오는 게시글 -->
		<div class="collapse" id="postContainer">
			<div class="row">

				<!-- 첫 번째 게시글 -->
				<!-- ${BoardList}: 컨트롤러에서 모델에 추가한 게시글 리스트 -->
				<!-- <div class="card col-md-3" style="margin-right: 3%; margin-top: 3%;"> -->
				<div class="card col-md-3">
					<div class="card-header post-container mt-3">
						<!-- th:for -->
						<h3>게시글 제목 1</h3>
					</div>
					<div class="card-body">
						<p>여기에 게시글 내용이 들어갑니다.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- 이미지버튼 클릭하면 나오는 이미지 -->
		<div class="collapse" id="imgContainer">
			<div class="row">
				<!-- 첫 번째 이미지 -->
				<!-- <div class="card col-md-3" style="margin-right: 3%; margin-top: 3%;"> 
			<div class="card col-md-3">-->
				<div class="card-body post-container mt-3">
					<img src="/images/profile.jpg">
				</div>
			</div>
		</div>

	</div>
</th:block>
</body>
</html>