<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Password 찾기</title>

   <!-- 부트스트랩 CSS 링크 -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
   <!-- 부트스트랩 JavaScript 및 jQuery 링크 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    
  
<script> 

document.addEventListener("DOMContentLoaded", function() {
	   
	   var findPwdBtn = document.getElementById("findPwdBtn");
	   var pwdLookupResult = document.getElementById("pwdLookupResult");
	   
	   findIdBtn.addEventListener("click", function() {
	      
	        var userId = document.getElementById("userId").value;

	        // XMLHttpRequest 생성
	        var xhr = new XMLHttpRequest();

	        // POST 요청 설정
	        xhr.open("POST", "/login/pwdlookup", true);
	        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

	        // 요청 본문 생성
	        var data = "userId=" + encodeURIComponent(userId);

	        xhr.onreadystatechange = function () {
	            if (xhr.readyState === XMLHttpRequest.DONE) { 
	                if (xhr.status === 200) {
	                  idLookupResult.textContent = xhr.response;
	                  modal.show();
	                }else {
	                  alert("비밀번호 찾기 오류");
	                  }
	                }
	            };

	        // 요청 전송
	        xhr.send(data);
	       
	    });
	});

</script>
</head>
<body>
    
     <div class="container">
        <h1 class="mt-5">비밀번호 찾기</h1>
        <h6>아이디를 입력하세요</h6>
        <br>
        <hr>
        <br>
        <form action="/login/idlookup" method="post" id="pwdLookupForm">
        
            <!-- 아이디 입력 필드 -->
            <div class="mb-3">
                <label for="userId" class="form-label">등록한 아이디</label>
                <input type="text" class="form-control" id="userId" name="userId" required>
            </div>
            
            <br>
            <!-- 비밀번호 찾기 버튼 -->
            <button type="button" id="findPwdBtn" class="btn btn-primary"data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">비밀번호 찾기</button>
        </form>
    </div>

    <!-- 모달 창에 보이게 하기(button submit으로 하면 안 되겠지) -->
   <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
      data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h1 class="modal-title fs-5" id="staticBackdropLabel">비밀번호 찾기 결과</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
            </div>
            <div class="modal-body" id="pwdLookupResult">
            </div>
            <div class="modal-footer">
               <form action="/login" method="get">
                  <button type="submit" class="btn btn-primary">로그인 화면으로 가기</button>
               </form>
            </div>
         </div>
      </div>
   </div>

</body>
</html>