<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/defaultLayout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
	<title>특정 해시태그가 포함된 게시물 리스트</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
	
	<div class="container tag-board-list">
	<!-- 해시태그가 포함된 게시물 -->
    <h5>해시태그가 포함된 게시물</h5>
        <div class = "row">
        	<div class = "col-4 mb-3" th:each="tagBoard : ${tagBoardList}">
                <div class = "card position-relative" style = "height: 550px;">
                    <img src="/images/tagboardimg.jpg" class="card-img-top" style = "height: 250px;" alt="게시물 사진">
                    <div class = "card-body mb">
                        <h5 class="card-title" 
                            style = "height: 60px;" 
                            th:text = "${#strings.length(tagBoard.boardTitle) &gt; 50 ? 
                                        #strings.substring(tagBoard.boardTitle, 0, 50) + '...' : tagBoard.boardTitle}"></h5>
                        <div class="card-text" 
                            style = "height: 150px;" 
                            th:text = "${#strings.length(tagBoard.boardContent) &gt; 150 ? 
        	                           #strings.substring(tagBoard.boardContent, 0, 150) + '...' : tagBoard.boardContent}">게시물 내용</div>
                        <div class = "text-secondary" 
                            style = "height: 40px;"
                            th:text = "${#dates.format(tagBoard.boardCreatedDate, 'yyyy-MM-dd')}"></div>
                        <div class = "position-absolute bottom-0 start-50 translate-middle-x">
                            <a href="#" class="btn btn-outline-success btn-sm mb-2">자세히 보기</a>
                        </div> 
        	       </div> 
        	   </div>
            	           	
        	</div>
        </div>
	</div>
	
<script>

</script>
</body>
</html>