<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 정보 조회</title>

<!-- 부트스트랩5 버전 -->
<link
   href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
   rel="stylesheet">
<!-- Bootstrap5 JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
</head>

<!-- 비밀번호 변경 이벤트 -->
<script>
   
</script>

<!-- 탈퇴하기 이벤트 -->
<script>
   
</script>

<body>

	<div class="container">
		<h1 class="mt-4">회원 정보 조회</h1>
		<br>
		<hr>
		<br>
		<form th:action="@{/userpage/{userId}}" method="post">
			<div class="form-group">
				<label for="userId">이름</label> <input type="text"
					class="form-control" id="userId" name="userId" th:field="*{userId}"
					th:required="required">
			</div>
			<div class="form-group">
				<label for="userName">닉네임</label> <input type="text"
					class="form-control" id="userName" name="userName"
					th:field="*{userName}" th:required="required">
			</div>
			<div class="form-group">
				<label for="userTelNumber">핸드폰 번호</label> <input type="tel"
					class="form-control" id="userTelNumber" name="userTelNumber"
					placeholder="010-1234-5678" th:field="*{userTelNumber}">
			</div>
			<div class="form-group">
				<label for="userEmail">이메일</label> <input type="email"
					class="form-control" id="userEmail" name="userEmail"
					placeholder="walkaroundyou@gmail.com" th:field="*{userEmail}"
					th:required="required">
			</div>
			<button type="submit" class="btn btn-primary">회원 정보 변경하기</button>
		</form>
		<br>


		<!-- 비밀번호 변경하기 모달 버튼 -->
		<button type="button" id="pwdModal" class="btn btn-secondary mt-2"
			data-bs-toggle="modal" data-bs-target="#changePwdBtn">비밀번호
			변경</button>

		<!-- 비밀번호 변경하기 모달 버튼 -->
		<button type="button" id="withdrawModal" class="btn btn-danger mt-2"
			data-bs-toggle="modal" data-bs-target="#withdrawBtn">탈퇴하기</button>
	</div>


	<!-- 비밀번호 변경하기 모달 창 -->
	<!-- Modal -->
	<div class="modal fade" id="changePwdBtn" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="passwordModalLabel">비밀번호 변경하기</h1>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<label for="userId">현재 비밀번호</label> <input type="password"
							class="form-control" id="currentPwd" name="currentPwd" required>
					</div>
					<div class="form-group">
						<label for="userId">새로운 비밀번호</label> <input type="password"
							class="form-control" id="newPwd" name="newPwd" required>
					</div>
					<div class="form-group">
						<label for="userId">비밀번호 확인</label> <input type="password"
							class="form-control" id="newPwdConfirm" name="newPwdConfirm"
							required>
					</div>
				</div>

				
footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="resultPwdBtn"
						name="resultPwdBtn">비밀번호 변경하기</button>
				</div>
			</div>
		</div>
	</div>


	<!-- 탈퇴하기 모달 창 -->
	<!-- Modal -->
	<div class="modal fade" id="withdrawBtn" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel">탈퇴하기</h1>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<label for="userId">현재 비밀번호</label> <input type="password"
							class="form-control" id="currentPwd" name="currentPwd" required>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>
					<button type="button" id="resultWdBtn" name="resultWdBtn"
						class="btn btn-primary">탈퇴하기</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>