/* 폰트 */
@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전체 폰트 적용 */
.container-boardConditionList {
    font-family: 'NanumSquareRound';
    margin-top: 6%;
}

.title {
    font-family: 'KimjungchulGothic-Bold';
}

.searchInput {
    text-indent: 15px;  
}

.searchBtn {
    width: 70px;
}

.searchForm {
    width: 500px;
}

.form-select {
    text-indent: 15px;
    width: 200px;
}

.boardList-sort {
	text-indent: 8px;
	width: 10%;
}