/* 폰트 */
@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전체 폰트 적용 */
.container-boardConditionList {
    font-family: 'NanumSquareRound';
    margin-top: 70px;
}

.title {
    font-family: 'KimjungchulGothic-Bold';
}

.searchInput {
    text-indent: 15px;  
}

.boardSearchBtn {
    width: 70px;
}

.searchForm {
    width: 500px;
}

.form-select {
    text-indent: 15px;
    width: 200px;
}

.boardList-sort {
	text-indent: 8px;
	width: 10%;
}

.boardCount{
    color:#3D8361;
    font-weight: bold;
    font-size: 1.2rem;
}

/* 페이지 css */
.pageInfo_wrap {
    margin-bottom: 100px;
}

.page-link {
  color: #1C6758; 
  background-color: #fff;
  border: none;
  height: 35px;
}

.page-border {
    border-color: #ccc;
}

.page-link {
    font-size: 1.2rem;
    margin: 10px;
    line-height: 23px;
    border-radius: 10px;
}

/* .page-number {
    border-radius: 10px;
}

.page-number:hover {
    border-radius: 10px;
} */

.page-item.active .page-link {
 z-index: 1;
 color: white;
 font-weight:bold;
 background-color: #1C6758;
 border-radius: 10px;
}

.page-link:focus, .page-link:hover {
  color: #3D8361;
  /* background-color: #EEF2E6; */
  background-color: #FBC252;
  border-color: #3D8361;
  border-radius: 10px;
}

#pagePrev:a.page-link, #pageNext:a.page-link {
    background-color: #f7f7f7;
    border-radius: 10px;
}

/* 페이지네이션 이전/다음 버튼 호버 효과 */
#pagePrev:not(.disabled):hover a.page-link,
#pageNext:not(.disabled):hover a.page-link {
    background-color: #e0e0e0; /* 호버 시 변경할 배경 색상 설정 */
    cursor: pointer; /* 호버 시 커서 설정 */
}
