@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.formTitle{
	font-weight: bold;
}
.wrapForm{
	background:#EEF2E6;
    font-family: 'NanumSquareRound';
	font-size: 20px
}
label{
	text-indent: 20px;
	margin-top: 30px;
	padding-bottom: 10px;
	width: 100%;
}
.form-control, .form-select, .form-select > option{
	padding: 10px 30px;
}
.tagList{
	min-height: 50px;
	width: auto;
}
.tagItem{
	background:#EEF2E6;
    color : #3D8361;
	
}
/* 9/14 추가수정 시작 */
.submitBtn{
	font-weight: bold;
	padding-left: 10%;
	padding-right: 10%;
	background : #3D8361;
	color: white;
}
.submitBtn:hover{
	color : #3D8361;
	background : #B1D7B4;
}
/* 9/14 추가수정 끝 */